<div class=" content">
    <!--
    <div class="trainingBody" [hidden]="!training">
        
        <div class="training">
            <h1 style="top: 50%;">Training in progress...</h1>
            <div class="loading"> </div>
        </div>
    </div>
    -->
    <div class="warning-wrapper" [hidden]="!loginWarning">
        <div class="cm-modal">
            <div class="cm-modal-body">
                <div class="warning-body" style="padding: 0.5%;overflow: auto;">
                    <div class="warning-content">
                        <h2>{{"You're not logged in!" | translate }}</h2>
                        <h4 style="margin-bottom: 30px;">{{'Log in to save your experiment!' | translate }}</h4>
                        <button class="btn btn-primary btn-lg btn-block mb-3 warning-btn" (click)="login()">{{'LOG IN' | translate}}</button>
                        <button class="btn btn-primary btn-lg btn-block mb-3 warning-btn" (click)="loginWarning = false">{{'IGNORE' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="cm-modal-background"></div>
    </div>

    <div class="warning-wrapper" [hidden]="!deleteWarning">
        <div class="cm-modal">
            <div class="cm-modal-body">
                <div class="warning-body" style="padding: 0.5%;overflow: auto;">
                    <div class="warning-content">
                        <h2>{{'Are you sure you want to discard this model?' | translate}}</h2>
                        <h4 style="margin-bottom: 30px;">{{'This change is permanent.' | translate}}</h4>
                        <button class="btn btn-primary btn-lg btn-block mb-3 warning-btn2" (click)="discardModel(modelToDiscard)">{{'Discard' | translate}}</button>
                        <button class="btn btn-primary btn-lg btn-block mb-3 warning-btn1" (click)="modelToDiscard=-1; deleteWarning=false;">{{'Cancel' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="cm-modal-background"></div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class=" card-title" style="position: relative; float: left;">{{'Configure hyperparameters' | translate}}</h3>
                    <button class="btn btn-primary btn-lg btn-block mb-3" style="width:10%; float:right; padding:0px; width:150px; height:42px;" (click)="clearEverything()">{{'CLEAR EVERYTHING' | translate}}</button>
                </div>
                <div class="card-body" style="padding-left: 0; padding-right: 0;">
                    <div class="hyperparameter">
                        <h6>{{'Problem type' | translate}}</h6>
                        <select class='dropdown' name="problemType" [(ngModel)]="problemType" ngbTooltip="{{'Problem type' | translate}}" (change)='onSelected($event)'>
                            <option class='option' value="Regression">{{'Regression' | translate}}</option>
                            <option class='option' value="Classification">{{'Classification' | translate}}</option>
                        </select>
                    </div>
                    <div class="hyperparameter">
                        <h6>{{'Activation function for all layers' | translate}}</h6>
                        <select class='dropdown' name="activationFunction" [(ngModel)]="activationFunction" ngbTooltip="{{'Activation function' | translate}}" (change)="onSelected($event)">
                            <option class='option' value="sigmoid">Sigmoid</option>
                            <option class='option' value="hard_sigmoid">Hard Sigmoid</option>
                            <option class='option' value="swish">Swish</option>
                            <option class='option' value="tanh">Tanh</option>
                            <option class='option' value="relu">Relu</option>
                            <option class='option' value="leaky_relu">Leaky Relu</option>
                            <option class='option' value="elu">ELU</option>
                            <option class='option' value="selu">SELU</option>
                            <option class='option' value="gelu">GELU</option>
                            <option class='option' value="exponential">Exponential</option>
                            <option class='option' value="linear">Linear</option>
                            <option class='option' value="softplus">Softplus</option>
                            <option class='option' value="softsign">Softsign</option>
                            <option class='option' value="custom">Custom</option>
                        </select>
                    </div>
                    <div class="hyperparameter" [hidden]="true">
                        <h6>{{'Encoding type' | translate}}</h6>
                        <select class='dropdown' name="encodingType" [(ngModel)]="encodingType" (change)="onSelected($event)" ngbTooltip="{{'Encoding type' | translate}}">
                            <option class='option' value="label">Label</option>
                            <option class='option' value="one-hot">One-Hot</option>
                            <option class='option' value="binary">Binary</option>
                            <option class='option' value="frequency">Frequency</option>
                        </select>
                    </div>
                    <div class="hyperparameter">
                        <h6>{{'Optimizer' | translate}}</h6>
                        <select class='dropdown' name="optimizer" [(ngModel)]="optimizer" ngbTooltip="{{'Optimizer' | translate}}" (change)="onSelected($event)">
                            <option class='option' value="Adam">Adam</option>
                            <option class='option' value="SGD">SGD</option>
                            <option class='option' value="RMSprop">RMSprop</option>
                            <option class='option' value="Adadelta">Adadelta</option>
                            <option class='option' value="Adagrad">Adagrad</option>
                            <option class='option' value="Adamax">Adamax</option>
                            <option class='option' value="Nadam">Nadam</option>
                            <option class='option' value="Ftrl">Ftrl</option>
                        </select>
                    </div>
                    <div class="hyperparameter">
                        <h6>{{'Learning rate' | translate}}</h6>
                        <select class='dropdown' name="learningRate" [(ngModel)]="learningRate" ngbTooltip="{{'Learning rate' | translate}}" (change)="onSelected($event)">
                            <option class='option' value="0.0001">0.0001</option>
                            <option class='option' value="0.001">0.001</option>
                            <option class='option' value="0.01">0.01</option>
                            <option class='option' value="0.03">0.03</option>
                            <option class='option' value="0.1">0.1</option>
                            <option class='option' value="0.3">0.3</option>
                            <option class='option' value="1">1</option>
                            <option class='option' value="3">3</option> 
                            <option class='option' value="10">10</option>
                        </select>
                    </div>
                    <div class="hyperparameter">
                        <h6>{{'Loss function' | translate}}</h6>
                        <label style="display: none;" *ngIf="problemType == 'Regression'; then thenBlock1 else elseBlock1"></label>
                        <ng-template #thenBlock1>
                            <select class='dropdown' name="lossFunction" [(ngModel)]="lossFunction" ngbTooltip="{{'Loss function' | translate}}" (change)="onSelected($event)">
                                <option class='option' value="mean_squared_error">Mean Squared Error</option>
                                <option class='option' value="mean_squared_logarithmic_error">Mean Squared Logarithmic Error</option>
                                <option class='option' value="mean_absolute_error">Mean Absolute Error</option>
                            </select>
                        </ng-template>
                        <ng-template #elseBlock1>
                            <select class='dropdown' name="lossFunction" [(ngModel)]="lossFunction" ngbTooltip="{{'Loss function' | translate}}" (change)="onSelected($event)">
                                <label style="display: none;" *ngIf="numUniques() == 2; then thenBlock2 else elseBlock2"></label>
                                <ng-template #thenBlock2>
                                    <option class='option' value="binary_crossentropy">Binary Cross-Entropy</option>
                                    <option class='option' value="hinge">Hinge Loss</option>
                                    <option class='option' value="squared_hinge">Squared Hinge Loss</option>
                                    <option class='option' value="categorical_crossentropy">Categorical Cross-Entropy</option>
                                    <option class='option' value="kullback_leibler_divergence">Kullback Leibler Divergence</option>
                                </ng-template>
                                <ng-template #elseBlock2>
                                    <option class='option' value="sparse_categorical_crossentropy">Sparse Categorical Cross-Entropy</option>
                                    <option class='option' value="hinge">Hinge Loss</option>
                                    <option class='option' value="squared_hinge">Squared Hinge Loss</option>
                                    <option class='option' value="kullback_leibler_divergence">Kullback Leibler Divergence</option>
                                </ng-template>
                            </select>
                        </ng-template>
                    </div>
                    <div class="hyperparameter">
                        <h6 id="range-text" style="height: 28px;">{{'Training : validation : test' | translate}} - {{range1}}% : {{this.range2 - this.range1}}% : {{100 - this.range2}}%</h6>
                        <section class="range-container">
                            <input name="range1" min="1" max="99" step="1" type="range" class="range" id="range1" [(ngModel)]="range1" (change)="onSelected($event)" [disabled]="firstTraining">
                            <input name="range2" min="1" max="99" step="1" type="range" class="range" id="range2" [(ngModel)]="range2" (change)="onSelected($event)" [disabled]="firstTraining">
                        </section>
                    </div>
                    <div class="hyperparameter">
                        <h6>{{'Number of Epochs' | translate}}</h6>
                        <input class="dropdown" name="epochs" type="text" value="{{epochs}}" [(ngModel)]="epochs" ngbTooltip="{{'Number of Epochs' | translate}}" (change)="onSelected($event)">
                    </div>
                    <div class="hyperparameter">
                        <h6>{{'Number of neurons per layer' | translate}}</h6>
                        <input class="dropdown" name="neuronNum" type="text" value="{{neuronNum}}" [(ngModel)]="neuronNum" ngbTooltip="{{'Number of neurons per layer' | translate}}" (change)="onSelected($event)">
                    </div>
                    <div class="hyperparameter">
                        <h6>{{'Regularization' | translate}}</h6>
                        <select class='dropdown' name="regularization" [(ngModel)]="regularization" ngbTooltip="{{'Regularization' | translate}}" (change)="onSelected($event)">
                            <option class='option' value="None">None</option>
                            <option class='option' value="L1">L1</option>
                            <option class='option' value="L2">L2</option>
                        </select>
                    </div>
                    <div class="hyperparameter" [hidden]="regularization=='None'">
                        <h6>{{'Regularization rate' | translate}}</h6>
                        <select class='dropdown' name="regularizationRate" [(ngModel)]="regularizationRate" ngbTooltip="{{'Regularization rate' | translate}}" (change)="onSelected($event)">
                            <option class='option' value="0">0</option>
                            <option class='option' value="0.001">0.001</option>
                            <option class='option' value="0.01">0.01</option>
                            <option class='option' value="0.03">0.03</option>
                            <option class='option' value="0.1">0.1</option>
                            <option class='option' value="0.3">0.3</option>
                            <option class='option' value="1">1</option>
                            <option class='option' value="3">3</option>
                            <option class='option' value="10">10</option>
                        </select>
                    </div>
                    <div class="hyperparameterMetrics">
                        <h6>{{'Metrics for model comparison' | translate}}</h6>
                        <ng-multiselect-dropdown ngbTooltip="{{'Choose metrics to display in graph bellow' | translate}}" [placeholder]="'Choose Metrics'" [settings]="dropdownSettings" [data]="dropdownList" [(ngModel)]="selectedItems" [disabled]="firstTraining || modelsTrained > 0" (onSelect)="onItemSelect($event)"
                            (onSelectAll)="onSelectAll($event)" (onDeSelect)="onItemDeSelect($event)">
                        </ng-multiselect-dropdown>
                    </div>
                    <!--<div>{{range}}</div>-->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header layerButtons">
                    <div style="width : auto; position: relative; float: left;">
                        <h3 class="card-title">{{'Configure layers' | translate}}</h3>
                    </div>
                    <div class=" btn-group" style="position: relative; float: left; margin-left: 12px;">
                        <button class=" btn btn-danger btn-simple btn-sm minus" (click)="decreaseLayers(layersLabel-1)" ngbTooltip="{{'Decrease number of layers' | translate}}">
                            <i class=" tim-icons icon-simple-delete"></i>
                        </button>
                        <button class=" btn btn-danger btn-sm plus" (click)="increaseLayers()" ngbTooltip="{{'Increase number of layers' | translate}}">
                            <i class=" tim-icons icon-simple-add"></i>
                        </button>
                    </div>
                    <!--
                    <div style="position: relative; float: left; width: 50px; text-align: center;">
                        <h2 style="padding: 3px;">{{layerList.length}}</h2>
                    </div>
                    -->
                </div>
                <div class="card-body" style="padding: 0rem .5rem 0rem .5rem;">
                    <div class="layerContainer">
                        <div class="layer" *ngFor="let layer of layerList" div>
                            <div class="layerContent">
                                <h3 style="margin-bottom: 5px;">{{'Layer' | translate}} {{layer.id}}</h3>
                                <div class="buttons">
                                    <div class=" btn-group">
                                        <button class=" btn btn-danger btn-simple btn-sm minus" (click)="decreaseNeurons(layer.id-1, neuronsList[layer.id-1])" ngbTooltip="{{'Decrease number of neurons' | translate}}">
                                            <i class=" tim-icons icon-simple-delete"></i>
                                        </button>
                                        <button class=" btn btn-danger btn-sm plus" (click)="increaseNeurons(layer.id-1)" ngbTooltip="{{'Increase number of neurons' | translate}}">
                                            <i class=" tim-icons icon-simple-add"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="neurons">
                                    <h3 style="width: auto; margin:0; padding:0; float: left;">{{'Neurons' | translate}}</h3>
                                    <input type="text" class="textInput" [(ngModel)]="neuronsList[layer.id-1]" ngbTooltip="{{'Type in number of neurons' | translate}}">
                                </div>
                                <h6 style="text-align: center; margin: 0; margin-top: 0.5rem">{{'Activation function:' | translate}}</h6>
                                <select class='dropdown' name="afList" [(ngModel)]="activationFunctionList[layer.id-1]" (change)="onSelected($event)" ngbTooltip="{{'Activation function' | translate}}">
                                    <option class='option' value="sigmoid">Sigmoid</option>
                                    <option class='option' value="hard_sigmoid">Hard Sigmoid</option>
                                    <option class='option' value="swish">Swish</option>
                                    <option class='option' value="tanh">Tanh</option>
                                    <option class='option' value="relu">ReLU</option>
                                    <option class='option' value="leaky_relu">Leaky Relu</option>
                                    <option class='option' value="elu">ELU</option>
                                    <option class='option' value="selu">SELU</option>
                                    <option class='option' value="gelu">GELU</option>
                                    <option class='option' value="exponential">Exponential</option>
                                    <option class='option' value="linear">Linear</option>
                                    <option class='option' value="softplus">Softplus</option>
                                    <option class='option' value="softsign">Softsign</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card" style="height: 77px;">
                <div class="card-header">
                    <button *ngIf="!training" class="btn btn-primary btn-lg btn-block mb-3 train" type="submit" (click)="startTraining(); scrollTo(target);" [disabled]="training">{{'START TRAINING' | translate}}</button>
                    <h3 *ngIf="training" style="text-align:center; margin-top: 0.5rem;">{{'Training in progress...' | translate }}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card" style="margin-top:20px; z-index: 1; border-radius: 0 0.2857rem 0.2857rem 0.2857rem;">
                <div style="position:absolute" #target>
                    <button class="tab-button raised-tab-button" id="tab-btn1" (click)="changeTab(0); scrollTo(target);">{{'Live Training' | translate}}</button>
                    <button class="tab-button" id="tab-btn1" (click)="changeTab(1); scrollTo(target2);" [disabled]="trained == false">{{'Results' | translate}}</button>
                    <button class="tab-button" id="tab-btn1" (click)="changeTab(2); scrollTo(target);" [disabled]="trained == false">{{'Evaluation' | translate}}</button>
                </div>
                <div class="card-body">
                    <div class="tab1" [hidden]="!liveButton">
                        <div [hidden]="!firstTraining">
                            <h3 class="card-title" style="width:auto;">{{'Model' | translate}} {{modelsTrained}}</h3>
                            <div style="width:auto; height:auto; float:right;">
                                <div class="button-group" data-toggle="buttons" *ngIf="buttons.length > 0">
                                    <button class="btn btn-danger btn-sm metric-button" *ngFor="let button of buttons" [ngbTooltip]="showTooltip(button)" (click)="changeData(button)" placement="left" style="float: right;">{{button}}</button>
                                </div>
                            </div>
                            <div class="chart-area">
                                <canvas id="chartBig1"> </canvas>
                            </div>
                        </div>
                        <div [hidden]="firstTraining">
                            <h3 style="text-align:center; margin-top:20px;">
                                {{"Start training new model to track it's live performance." | translate}}
                            </h3>
                        </div>
                    </div>
                    <div class="tab2" [hidden]="!resultsButton" #target2>


                        <h3 class=" card-title" style="margin-top: 1rem;">{{'Compare training results' | translate}}</h3>
                        <div class="filter-left">
                            <h6>{{'Choose metric to plot' | translate}}</h6>
                            <select class='dropdown' (change)="chartThisMetric(metricDropdown)" [(ngModel)]="metricDropdown" ngbTooltip="{{'Choose metric to plot' | translate}}" style="float:left;">
                                <ng-container *ngFor="let item of modelsHeader; let i = index">
                                    <option class='option' value="{{item}}">{{item}}</option>
                                </ng-container>
                            </select>
                        </div>
                        <div class=" chart-area"><canvas id="metric-chart"> </canvas></div>

                        <h3 class=" card-title" style="margin-top: 1rem;">{{'Model parameters' | translate }}</h3>
                        <div class=" table-responsive tableScroll">
                            <table class="table tablesorter parametersTable">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th *ngFor="let item of modelsList; let i = index">Model {{i}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>{{'Network Summary' | translate }}</th>
                                        <td *ngFor="let item of modelsList; let i = index">
                                            <p *ngFor="let layer of getLayers(i)">{{layer[0]}} {{layer[1]}}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{{'Regularization' | translate }}</th>
                                        <td *ngFor="let item of modelsList; let i = index">{{regularizationText(i)}}</td>
                                    </tr>
                                    <tr>
                                        <th>{{'Loss Function' | translate}}</th>
                                        <td *ngFor="let item of modelsList; let i = index">{{item.parameters["lossFunction"]}}</td>
                                    </tr>
                                    <tr>
                                        <th>{{'Optimizer' | translate }}</th>
                                        <td *ngFor="let item of modelsList; let i = index">{{item.parameters["optimizer"]}}</td>
                                    </tr>
                                    <tr>
                                        <th>{{'Learning Rate' | translate }}</th>
                                        <td *ngFor="let item of modelsList; let i = index">{{item.parameters["learningRate"]}}</td>
                                    </tr>
                                    <tr>
                                        <th>{{'Epochs' | translate }}</th>
                                        <td *ngFor="let item of modelsList; let i = index">{{item.parameters["numEpochs"]}}</td>
                                    </tr>
                                    <tr>
                                        <th>{{'Inputs' | translate }}</th>
                                        <td *ngFor="let item of modelsList; let i = index">
                                            <span class="show">{{'Hover Here' | translate }}
                                                <div class="tip">
                                                    <p *ngFor="let input of item.parameters['inputList']" class="inputField"> {{input}} </p>
                                                </div>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-header" style="padding: 0px; width:100%; height: auto; margin-top: 1rem;">
                            <div class="headerLeft">
                                <h3 class="card-title" style="padding:0; margin: 0px;">{{'Trained Models-Epoch:' | translate}} {{selectedEpoch+1}} </h3>
                            </div>
                            <div class="headerRight">
                                <div class="page-buttons">
                                    <h6>{{'Swich between epochs' | translate}}</h6>
                                    <button class=" btn btn-link page" (click)="firstPage()">
                                        <i class="tim-icons icon-double-left arrow"></i>
                                    </button>
                                    <button class=" btn btn-link page" style="padding-left:0px;" (click)="previousPage(1)">
                                        <i class="tim-icons icon-minimal-left arrow"></i>
                                    </button>
                                    <button class=" btn btn-link page" (click)="previousPage(2)" [hidden]="selectedEpoch < 2">
                                        {{selectedEpoch-1}}
                                    </button>
                                    <button class=" btn btn-link page" (click)="previousPage(1)" [hidden]="selectedEpoch == 0">
                                        {{selectedEpoch}}
                                    </button>

                                    <button class=" btn btn-link page" style="color: white;">
                                        {{selectedEpoch+1}}
                                    </button>

                                    <button class=" btn btn-link page" (click)="nextPage(1)" [hidden]="selectedEpoch+1 == maxEpochs">
                                        {{selectedEpoch+2}}
                                    </button>
                                    <button class=" btn btn-link page" (click)="nextPage(2)" [hidden]="selectedEpoch+1 >= maxEpochs-1">
                                        {{selectedEpoch+3}}
                                    </button>
                                    <button class=" btn btn-link page" style="padding-right: 0px;" (click)="nextPage(1)">
                                        <i class="tim-icons icon-minimal-right arrow"></i>
                                    </button>
                                    <button class=" btn btn-link page" style="padding-left: 0;" (click)="lastPage()">
                                        <i class="tim-icons icon-double-right arrow"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class=" table-responsive tableScroll" style="min-height: 200px; max-height: 500px;" id="table">
                            <table class=" table tablesorter">
                                <thead>
                                    <tr>
                                        <th style="width: 30px;"></th>
                                        <th>{{'MODEL' | translate}}</th>
                                        <th *ngFor="let item of modelsHeader; let i = index">{{item}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of modelsList; let i = index">
                                        <td style="width: 30px;">
                                            <button class=" btn btn-link" placement="left" ngbTooltip="{{'Discard this model' | translate}}" container="body" (click)="discardCheck(item.id-1)">
                                                <i class="tim-icons icon-trash-simple" style="font-size: 2em; color:#7d3c8b"> </i>
                                            </button>
                                        </td>
                                        <td style="text-align: center;">{{item.id}}</td>
                                        <td *ngFor="let value of modelsHeader; let j = index">{{item.data[value][selectedEpoch].toFixed(4)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab3" [hidden]="!evaluationButton">
                        <h3 class="card-title">{{'Model Evaluation' | translate}}</h3>
                        <div class="filter-left">
                            <h6>{{'Choose metric to plot' | translate}}</h6>
                            <select class='dropdown' (change)="chartEvaluation(evaluationMetric)" [(ngModel)]="evaluationMetric" ngbTooltip="{{'Choose metric to plot' | translate}}" style="float:left;">
                                <ng-container *ngFor="let item of evaluationMetrics; let i = index">
                                    <option class='option' value="{{item}}">{{item}}</option>
                                </ng-container>
                            </select>
                        </div>
                        <div class=" chart-area"><canvas id="evaluation-chart"> </canvas></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" [hidden]="modelsTrained == 0">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class=" card-title saveTitle" style="width:auto; float: left;">{{'Save your experiment' | translate}}</h3>
                    <span class="show"><h3 class="help">?</h3><div class="tip">{{'If you already have an experiment with the same name, the experiment will be overwritten' | translate}}</div></span>
                </div>
                <div class="card-body">
                    <div class="expContainer eciLeft">
                        <h6>{{'Experiment name' | translate}}</h6>
                        <input type="text" class="experimentName" ngbTooltip="{{'Write experiment name' | translate}}" [(ngModel)]="experimentName">
                    </div>
                    <div class="expContainer eciRight">
                        <h6>{{'Experiment description' | translate}}</h6>
                        <input type="text" class="experimentName" ngbTooltip="{{'Enter description of your experiment' | translate}}" [(ngModel)]="description">
                    </div>
                    <div class="expContainer" style="float: right; padding-top:22px;">
                        <button class="btn btn-primary btn-lg btn-block mb-3 save" type="submit" (click)="saveCheck()" [disabled]="experimentName=='' || training">{{'SAVE EXPERIMENT' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>