<div class=" content">
    <!--
    <div class="trainingBody" [hidden]="!training">
        
        <div class="training">
            <h1 style="top: 50%;">Training in progress...</h1>
            <div class="loading"> </div>
        </div>
    </div>
    -->
    <div class="warning-wrapper" [hidden]="!loginWarning">
        <div class="cm-modal">
            <div class="cm-modal-body">
                <div class="warning-body" style="padding: 0.5%;overflow: auto;">
                    <div class="warning-content">
                        <h2>You're not logged in!</h2>
                        <h4 style="margin-bottom: 30px;">You won't be able to save your experiment if you're not logged in!</h4>
                        <button class="btn btn-primary btn-lg btn-block mb-3 warning-btn">LOG IN</button>
                        <button class="btn btn-primary btn-lg btn-block mb-3 warning-btn" (click)="startTraining();">IGNORE</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="cm-modal-background"></div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class=" card-title" style="position: relative; float: left;">Configure hyperparameters</h3>
                    <button class="btn btn-primary btn-lg btn-block mb-3" style="width:10%; float:right; padding:0px; width:150px; height:42px;" (click)="clearEverything()">CLEAR EVERYTHING</button>
                </div>
                <div class="card-body" style="padding-left: 0; padding-right: 0;">
                    <div class="hyperparameter">
                        <h6>Problem type</h6>
                        <select class='dropdown' [(ngModel)]="problemType" ngbTooltip="Problem type" (change)='checkProblemType()'>
                            <option class='option' value="Regression">Regression</option>
                            <option class='option' value="Classification">Classification</option>
                        </select>
                    </div>
                    <div class="hyperparameter">
                        <h6>Activation function</h6>
                        <select class='dropdown' name="activationFunction" [(ngModel)]="activationFunction" ngbTooltip="Activation function" (change)="onSelected($event)">
                            <option class='option' value="sigmoid">Sigmoid</option>
                            <option class='option' value="tanh">Tanh</option>
                            <option class='option' value="relu">Relu</option>
                            <option class='option' value="linear">Linear</option>
                        </select>
                    </div>
                    <div class="hyperparameter" [hidden]="true">
                        <h6>Encoding type</h6>
                        <select class='dropdown' name="encodingType" [(ngModel)]="encodingType" (change)="onSelected($event)" ngbTooltip="Encoding type">
                            <option class='option' value="label">Label</option>
                            <option class='option' value="one-hot">One-Hot</option>
                            <option class='option' value="binary">Binary</option>
                            <option class='option' value="frequency">Frequency</option>
                        </select>
                    </div>
                    <div class="hyperparameter">
                        <h6>Optimizer</h6>
                        <select class='dropdown' name="optimizer" [(ngModel)]="optimizer" ngbTooltip="Optimizer" (change)="onSelected($event)">
                            <option class='option' value="Adam">Adam</option>
                            <option class='option' value="SGD">SGD</option>
                            <option class='option' value="RMSprop">RMSprop</option>
                            <option class='option' value="Adadelta">Adadelta</option>
                            <option class='option' value="Adagrad">Adagrad</option>
                            <option class='option' value="Adamax">Adamax</option>
                            <option class='option' value="Nadam">Nadam</option>
                            <option class='option' value="Ftrl">Ftrl</option>
                        </select>
                    </div>
                    <div class="hyperparameter">
                        <h6>Learning rate</h6>
                        <select class='dropdown' name="learningRate" [(ngModel)]="learningRate" ngbTooltip="Learning rate" (change)="onSelected($event)">
                            <option class='option' value="0.0001">0.0001</option>
                            <option class='option' value="0.001">0.001</option>
                            <option class='option' value="0.01">0.01</option>
                            <option class='option' value="0.03">0.03</option>
                            <option class='option' value="0.1">0.1</option>
                            <option class='option' value="0.3">0.3</option>
                            <option class='option' value="1">1</option>
                            <option class='option' value="3">3</option>
                            <option class='option' value="10">10</option>
                        </select>
                    </div>
                    <div class="hyperparameter">
                        <h6>Ratio of training to test data - {{range}} : {{100-range}}</h6>
                        <input type="range" name="range" min="10" max="90" step="10" value="50" [(ngModel)]="range" ngbTooltip="Ratio of training to test data" (change)="onSelected($event)">
                    </div>
                    <div class="hyperparameter" style="margin-bottom: 1rem;">
                        <h6>Number of Epochs</h6>
                        <input class="dropdown" name="epochs" type="text" value="{{epochs}}" [(ngModel)]="epochs" ngbTooltip="Number of Epochs" (change)="onSelected($event)">
                    </div>
                    <div class="hyperparameter">
                        <h6>Loss function</h6>
                        <label style="display: none;" *ngIf="problemType == 'Regression'; then thenBlock1 else elseBlock1"></label>
                        <ng-template #thenBlock1>
                            <select class='dropdown' name="lossFunction" [(ngModel)]="lossFunction" ngbTooltip="Loss function" (change)="onSelected($event)">
                                <option class='option' value="mean_squared_error">Mean Squared Error</option>
                                <option class='option' value="mean_squared_logarithmic_error">Mean Squared Logarithmic Error</option>
                                <option class='option' value="mean_absolute_error">Mean Absolute Error</option>
                            </select>
                        </ng-template>
                        <ng-template #elseBlock1>
                            <select class='dropdown' name="lossFunction" [(ngModel)]="lossFunction" ngbTooltip="Loss function" (change)="onSelected($event)">
                                <option class='option' value="binary_crossentropy">Binary Cross-Entropy</option>
                                <option class='option' value="hinge">Hinge Loss</option>
                                <option class='option' value="squared_hinge">Squared Hinge Loss</option>
                                <option class='option' value="categorical_crossentropy">Categorical Cross-Entropy</option>
                                <option class='option' value="sparse_categorical_crossentropy">Sparse Categorical Cross-Entropy</option>
                                <option class='option' value="kullback_leibler_divergence">Kullback Leibler Divergence</option>
                            </select>
                        </ng-template>
                    </div>
                    <div class="hyperparameter">
                        <h6>Regularization</h6>
                        <select class='dropdown' name="regularization" [(ngModel)]="regularization" ngbTooltip="Regularization" (change)="onSelected($event)">
                            <option class='option' value="None">None</option>
                            <option class='option' value="L1">L1</option>
                            <option class='option' value="L2">L2</option>
                        </select>
                    </div>
                    <div class="hyperparameter" [hidden]="regularization=='None'">
                        <h6>Regularization rate</h6>
                        <select class='dropdown' name="regularizationRate" [(ngModel)]="regularizationRate" ngbTooltip="Regularization rate" (change)="onSelected($event)">
                            <option class='option' value="0">0</option>
                            <option class='option' value="0.001">0.001</option>
                            <option class='option' value="0.01">0.01</option>
                            <option class='option' value="0.03">0.03</option>
                            <option class='option' value="0.1">0.1</option>
                            <option class='option' value="0.3">0.3</option>
                            <option class='option' value="1">1</option>
                            <option class='option' value="3">3</option>
                            <option class='option' value="10">10</option>
                        </select>
                    </div>
                    <div class="hyperparameterMetrics">
                        <h6>Metrics for model comparison</h6>
                        <ng-multiselect-dropdown ngbTooltip="Choose metrics to display in graph bellow" [placeholder]="'Choose Metrics'" [settings]="dropdownSettings" [data]="dropdownList" [(ngModel)]="selectedItems" [disabled]="firstTraining" (onSelect)="onItemSelect($event)"
                            (onSelectAll)="onSelectAll($event)">
                        </ng-multiselect-dropdown>
                    </div>
                    <!--<div>{{range}}</div>-->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header layerButtons">
                    <div style="width : auto; position: relative; float: left;">
                        <h3 class="card-title">Configure layers</h3>
                    </div>
                    <div class=" btn-group" style="position: relative; float: left; margin-left: 27px;">
                        <button class=" btn btn-danger btn-simple btn-sm minus" (click)="decreaseLayers(layersLabel-1)" ngbTooltip="Decrease number of layers">
                            <i class=" tim-icons icon-simple-delete"></i>
                        </button>
                        <button class=" btn btn-danger btn-sm plus" (click)="increaseLayers()" ngbTooltip="Increase number of layers">
                            <i class=" tim-icons icon-simple-add"></i>
                        </button>
                    </div>
                    <!--
                    <div style="position: relative; float: left; width: 50px; text-align: center;">
                        <h2 style="padding: 3px;">{{layerList.length}}</h2>
                    </div>
                    -->
                </div>
                <div class="card-body" style="padding: 0rem .5rem 0rem .5rem;">
                    <div class="layerContainer">
                        <div class="layer" *ngFor="let layer of layerList" div>
                            <div class="layerContent">
                                <h3 style="margin-bottom: 5px;">Layer {{layer.id}}</h3>
                                <div class="buttons">
                                    <div class=" btn-group">
                                        <button class=" btn btn-danger btn-simple btn-sm minus" (click)="decreaseNeurons(layer.id-1, neuronsList[layer.id-1])" ngbTooltip="Decrease number of neurons">
                                            <i class=" tim-icons icon-simple-delete"></i>
                                        </button>
                                        <button class=" btn btn-danger btn-sm plus" (click)="increaseNeurons(layer.id-1)" ngbTooltip="Increase number of neurons">
                                            <i class=" tim-icons icon-simple-add"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="neurons">
                                    <h3 style="width: auto; margin:0; padding:0; float: left;">Neurons</h3>
                                    <input type="text" class="textInput" [(ngModel)]="neuronsList[layer.id-1]" ngbTooltip="Type in number of neurons">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <button class="btn btn-primary btn-lg btn-block mb-3 train" type="submit" (click)="checkBeforeTraining()" [disabled]="training">START TRAINING</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" [hidden]="!firstTraining">
        <div class="col-12">
            <div class="card card-chart">
                <div class="card-header">
                    <div style="height:auto; width: auto; float: left;">
                        <h3 class="card-title" style="width:auto;">Model {{modelsTrained}}</h3>
                    </div>
                    <div style="width:auto; height:auto; float:right;">
                        <div class="button-group" data-toggle="buttons" *ngIf="buttons.length > 0">
                            <button class="btn btn-danger btn-sm metric-button" *ngFor="let button of buttons" [ngbTooltip]="showTooltip(button)" (click)="changeData(button)" placement="left" style="float: right;">{{button}}</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="chart-area"><canvas id="chartBig1"> </canvas></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="trained">
        <div class="col-12">
            <div class="card">
                <div class="card-header" style="padding: 0px">
                    <div class="headerLeft">
                        <h3 class="card-title" style="padding:0; margin: 0px;">Trained Models-Epoch: {{selectedEpoch+1}} </h3>
                        <h6 style="margin-left:0; padding-left:0; text-align: left;">Click on header to change the chart</h6>
                    </div>
                    <div class="headerRight">
                        <div class="page-buttons">
                            <h6>Swich between epochs</h6>
                            <button class=" btn btn-link page" (click)="firstPage()">
                                <i class="tim-icons icon-double-left arrow"></i>
                            </button>
                            <button class=" btn btn-link page" style="padding-left:0px;" (click)="previousPage(1)">
                                <i class="tim-icons icon-minimal-left arrow"></i>
                            </button>
                            <button class=" btn btn-link page" (click)="previousPage(2)" [hidden]="selectedEpoch < 2">
                                {{selectedEpoch-1}}
                            </button>
                            <button class=" btn btn-link page" (click)="previousPage(1)" [hidden]="selectedEpoch == 0">
                                {{selectedEpoch}}
                            </button>

                            <button class=" btn btn-link page" style="color: white;">
                                {{selectedEpoch+1}}
                            </button>

                            <button class=" btn btn-link page" (click)="nextPage(1)" [hidden]="selectedEpoch+1 == maxEpochs">
                                {{selectedEpoch+2}}
                            </button>
                            <button class=" btn btn-link page" (click)="nextPage(2)" [hidden]="selectedEpoch+1 >= maxEpochs-1">
                                {{selectedEpoch+3}}
                            </button>
                            <button class=" btn btn-link page" style="padding-right: 0px;" (click)="nextPage(1)">
                                <i class="tim-icons icon-minimal-right arrow"></i>
                            </button>
                            <button class=" btn btn-link page" style="padding-left: 0;" (click)="lastPage()">
                                <i class="tim-icons icon-double-right arrow"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class=" table-responsive" style="min-height: 200px; max-height: 500px;" id="table">
                        <table class=" table tablesorter">
                            <thead>
                                <tr>
                                    <th>MODEL</th>
                                    <th *ngFor="let item of modelsHeader; let i = index" style="text-align: center; cursor: pointer;" (click)="chartThisMetric(item)">{{item}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of modelsList; let i = index">
                                    <td style="text-align: center;">{{item.id}}</td>
                                    <td *ngFor="let value of modelsHeader; let j = index">{{item.data[value][selectedEpoch].toFixed(10)}}</td>

                                    <!--
                                    <td *ngFor="let value of modelsHeader; let j = index">
                                        metric-chart{{j}}
                                        <canvas id="{{value}}-chart{{j}}" class="smallChart"></canvas>
                                    </td>
                                    -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" [hidden]="!openMetricsChart">
        <div class=" col-12">
            <div class=" card card-chart">
                <div class=" card-header">
                    <h3 class=" card-title">Model metrics</h3>
                </div>
                <div class=" card-body">
                    <div class=" chart-area"><canvas id="metric-chart"> </canvas></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" [hidden]="!trained || !loggedUser">
        <div class="col-12">
            <div class="card">
                <div class="card-header" style="padding:0px !important;">
                    <div class="expContainer">
                        <h3 class=" card-title saveTitle">Save your experiment</h3>
                    </div>
                    <div class="expContainer">
                        <input type="text" class="experimentName" ngbTooltip="Write experiment name" [(ngModel)]="experimentName">
                    </div>
                    <div class="expContainer">
                        <button class="btn btn-primary btn-lg btn-block mb-3 save" type="submit" (click)="saveExperiment()" [disabled]="experimentName==''">SAVE EXPERIMENT</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>