.hyperparameter {
    width: 20%;
    padding: 1rem;
    height: 80px;
    display: block;
    float: left;
    flex: auto;
    margin-bottom: 0.5rem;
}

.hyperparameterMetrics {
    width: 100%;
    padding: 1rem;
    height: auto;
    display: block;
    float: left;
    flex: auto;
}

.train {
    width: 300px;
    height: 42px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}

.save {
    width: 300px;
    height: 35px;
    float: right;
    padding: 0px;
    margin: 0 !important;
}

h6 {
    text-align: center;
}

.dropdown {
    font-size: 14px;
    background: transparent;
    border: 1px solid #7d3c8b;
    border-radius: 6px;
    overflow: hidden;
    color: white;
    margin-right: 20px;
    margin-top: 8px;
    height: 42px;
    width: 30%;
    position: relative;
    bottom: 0;
    width: 100%;
    cursor: pointer;
}

.dropdown:focus {
    border-color: #7d3c8b;
}

.option {
    line-height: 1;
    border: 0;
    padding: 0;
    border-radius: 6px;
    width: 120%;
    position: relative;
    z-index: 10;
    font-size: 1em;
    color: white;
    background: #27293d;
}

input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 20px;
}

input[type=range]:hover {
    opacity: 1;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #7d3c8b;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #7d3c8b;
    cursor: pointer;
}

.plus {
    background: #7d3c8b !important;
}

.plus:hover {
    background: #d450d9 !important;
}

.minus {
    border-color: #7d3c8b !important;
    color: #7d3c8b !important;
}

.minus:hover {
    border-color: #d450d9 !important;
    color: #d450d9 !important;
}

.metric-button {
    float: right;
    background: #7d3c8b !important;
}

.metric-button:hover {
    background: #d450d9 !important;
}

.button-group {
    height: auto;
    width: auto;
    padding: 0px;
    margin: 0px;
}


/*
.layerContainer {
    display: flex;
    min-height: 100px;
    overflow: hidden;
    padding-left: 0px;
}

.layer {
    height: auto;
    max-width: none;
    min-width: 0;
    flex: auto;
    position: relative;
    float: left;
    padding: 1rem;
    border: 2px solid #7d3c8b;
    min-height: 100px;
    overflow: hidden;
    margin-left: 1rem;
    border-radius: 3px;
}
*/

.layerButtons {
    height: 60px;
}

.layerContainer {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 0;
    padding-left: 0px;
    padding-right: 0px;
}

.layer {
    height: auto;
    margin-bottom: 0;
    position: relative;
    border-radius: 4px;
    padding: 0.5rem;
    min-width: 230px;
    float: left;
    width: 16.66%;
}

.layerContent {
    width: 100%;
    height: 100%;
    border: 1px solid #7d3c8b;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.buttons {
    height: 40px;
    width: 100%;
}

.neurons {
    width: 100%;
    height: 35px;
}

.textInput {
    font-size: 1rem;
    text-align: center;
    background: transparent;
    border: 1px solid #7d3c8b;
    border-radius: 6px;
    overflow: hidden;
    color: white;
    width: 100px;
    float: right;
    margin-top: 3px;
    height: 25px;
}

.neuron {
    background-color: #0e86d4;
    border-radius: 3px;
    margin-top: 1rem;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.trainingBody {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    top: 0;
    left: 0;
    z-index: 10;
}

.training {
    width: 500px;
    height: auto;
    background: #1e1e2e;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 3px solid #fff;
    border-radius: 3px;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

$base-line-height: 40px;
$white: rgb(255, 255, 255);
$off-white: rgba($white, 0.2);
$spin-duration: 1s;
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading {
    margin: auto;
    border-radius: 50%;
    width: $base-line-height;
    height: $base-line-height;
    border: .25rem solid $off-white;
    border-top-color: $white;
    animation: spin $spin-duration infinite linear;
}

.experimentName {
    //margin: 5px 0 0 30px;
    background: transparent;
    border: 3px solid #7d3c8b;
    border-radius: 3px;
    height: 35px;
    width: 100%;
    color: white;
}

.expContainer {
    min-width: 300px;
    width: 33.3%;
    height: 67px;
    margin: 0px;
    float: left;
    padding: 1rem 1rem 1rem 1rem;
}

@media(max-width: 1720px) {
    .layer {
        width: 33.33%
    }
}

@media(max-width: 1366px) {
    .hyperparameter {
        width: 25%;
    }
}

@media(max-width: 1359px) {
    .expContainer {
        width: 100%;
    }
    .save {
        width: 100%;
    }
}

@media(max-width: 1024px) {
    .hyperparameter {
        width: 33.3%;
    }
}

@media(max-width: 999px) {
    .layer {
        width: 50%
    }
}

@media(max-width: 768px) {
    .hyperparameter {
        width: 50%;
    }
}

@media(max-width: 528px) {
    .hyperparameter {
        width: 100%;
    }
}

@media(max-width: 504px) {
    .layer {
        width: 100%;
    }
}

@media(max-width: 414px) {
    .train {
        width: 100%;
    }
}