.row {
    margin-right: 0px;
}

.hyperparameter {
    width: 20%;
    padding: 1rem;
    height: 80px;
    display: block;
    float: left;
    flex: auto;
    margin-bottom: 0.5rem;
}

.hyperparameterMetrics {
    width: 100%;
    padding: 1rem;
    height: auto;
    display: block;
    float: left;
    flex: auto;
}

.train {
    width: 300px;
    height: 42px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}

.save {
    width: 300px;
    height: 35px;
    float: right;
    padding: 0px;
    margin: 0 !important;
}

h6 {
    text-align: center;
}

.dropdown {
    font-size: 14px;
    background: transparent;
    border: 1px solid #7d3c8b;
    border-radius: 6px;
    overflow: hidden;
    color: white;
    margin-right: 20px;
    margin-top: 8px;
    height: 42px;
    width: 30%;
    position: relative;
    bottom: 0;
    width: 100%;
    cursor: pointer;
}

.dropdown:focus {
    border-color: #7d3c8b;
}

.option {
    line-height: 1;
    border: 0;
    padding: 0;
    border-radius: 6px;
    width: 120%;
    position: relative;
    z-index: 10;
    font-size: 1em;
    color: white;
    background: #27293d;
}

input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 20px;
}

input[type=range]:hover {
    opacity: 1;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #7d3c8b;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #7d3c8b;
    cursor: pointer;
}

.plus {
    background: #7d3c8b !important;
}

.plus:hover {
    background: #d450d9 !important;
}

.minus {
    border-color: #7d3c8b !important;
    color: #7d3c8b !important;
}

.minus:hover {
    border-color: #d450d9 !important;
    color: #d450d9 !important;
}

.metric-button {
    float: right;
    background: #7d3c8b !important;
}

.metric-button:hover {
    background: #d450d9 !important;
}

.button-group {
    height: auto;
    width: auto;
    padding: 0px;
    margin: 0px;
}

+.layerButtons {
    height: 60px;
}

.layerContainer {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 0;
    padding-left: 0px;
    padding-right: 0px;
}

.layer {
    height: auto;
    margin-bottom: 0;
    position: relative;
    border-radius: 4px;
    padding: 0.5rem;
    min-width: 146px;
    float: left;
    width: 12.5%;
}

.layerContent {
    width: 100%;
    height: 100%;
    border: 1px solid #7d3c8b;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.buttons {
    height: 40px;
    width: 100%;
}

.neurons {
    width: 100%;
    height: 35px;
}

.textInput {
    font-size: 1rem;
    text-align: center;
    background: transparent;
    border: 1px solid #7d3c8b;
    border-radius: 6px;
    overflow: hidden;
    color: white;
    width: 50px;
    float: right;
    margin-top: 3px;
    height: 25px;
}

.neuron {
    background-color: #0e86d4;
    border-radius: 3px;
    margin-top: 1rem;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.trainingBody {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    top: 0;
    left: 0;
    z-index: 10;
}

.training {
    width: 500px;
    height: auto;
    background: #1e1e2e;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 3px solid #fff;
    border-radius: 3px;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

$base-line-height: 40px;
$white: rgb(255, 255, 255);
$off-white: rgba($white, 0.2);
$spin-duration: 1s;
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading {
    margin: auto;
    border-radius: 50%;
    width: $base-line-height;
    height: $base-line-height;
    border: .25rem solid $off-white;
    border-top-color: $white;
    animation: spin $spin-duration infinite linear;
}

.experimentName {
    //margin: 5px 0 0 30px;
    background: transparent;
    border: 3px solid #7d3c8b;
    border-radius: 3px;
    height: 35px;
    width: 100%;
    color: white;
}

.expContainer {
    min-width: 300px;
    width: 33.3%;
    height: 67px;
    margin: 0px;
    float: left;
    h6 {
        width: 100%;
        text-align: left;
    }
}

.eciLeft {
    padding-right: 2rem;
}

.eciRight {
    padding-left: 2rem;
}

.headerLeft {
    height: 70px;
    width: 325px;
    padding: 1rem;
    padding-right: 0;
    float: left;
}

.headerRight {
    height: 70px;
    width: auto;
    padding: 1rem;
    float: right;
}

.page {
    padding: 0.2rem;
    color: #7d3c8b;
    max-width: 42px;
    font-size: 15px;
}

.page-buttons {
    width: auto;
    float: right;
}

.arrow {
    font-size: 1.7rem;
}

.next {
    width: 122px;
}

#table::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#table::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background-color: #F5F5F5;
}

#table::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #7d3c8b;
}

.warning-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background: transparent;
    top: 0;
    left: 0;
    z-index: 20000;
    //padding-left: 5%;
    //padding-right: 5%;
}

.warning-body {
    width: 325px;
    height: auto;
    background: #1e1e2e;
    color: #ffff;
    text-align: center;
    border: 3px solid #7d3c8b;
    border-radius: 3px;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
}

.warning-content {
    width: 300px;
    height: 300px;
    background: #27293d;
    padding-top: 0.5rem;
}

.warning-btn {
    width: 80%;
    margin: auto;
}

.cm-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    //overflow: auto;
}

.cm-modal-body {
    padding: 60px;
    background: transparent;
    //overflow: auto;
}

.cm-modal-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.75;
    z-index: 900;
}

body.cm-modal-open {
    overflow: hidden;
}

.smallChart {
    width: 120px;
    height: 60px;
}

@media(max-width: 1760px) {
    .layer {
        width: 25%
    }
}

@media(max-width: 1366px) {
    .hyperparameter {
        width: 25%;
    }
}

@media(max-width: 1359px) {
    .expContainer {
        width: 100%;
    }
    .eciLeft {
        width: 50%;
    }
    .eciRight {
        width: 50%;
    }
    .save {
        width: 100%;
    }
}

$breakpoint: 512px;
$tabs-base-color: #27293d;
// #####################################
// CSS definition for functionality
.responsive-tabs {
    overflow: overlay;
    >input {
        display: none;
        &:checked {
            +label {
                +section {
                    display: block;
                }
            }
        }
    }
    >label {
        display: block;
        @media (min-width: $breakpoint) {
            display: inline-block;
        }
    }
    >section {
        width: 100%;
        display: none;
        @media (min-width: $breakpoint) {
            float: left;
        }
    }
}

// Classes for simple presentation
.responsive-tabs {
    margin-bottom: 30px;
    >input {
        &:checked {
            +label {
                background-color: $tabs-base-color;
                color: white;
            }
        }
    }
    >label {
        background-color: darken($tabs-base-color, 10);
        margin: 0;
        padding: 15px 20px;
        cursor: pointer;
        @media (min-width: $breakpoint) {
            margin-left: 0px;
        }
    }
    >section {
        background-color: $tabs-base-color;
    }
}

// Classes for better presentation 
.responsive-tabs {
    overflow: overlay;
    margin-bottom: 30px;
    >input {
        display: none;
        &:checked {
            +label {
                background-color: $tabs-base-color;
                color: white;
                font-weight: normal;
                padding-top: 15px;
                cursor: default;
                &::after {
                    transform: translateY(-5px) rotateZ(180deg);
                    opacity: 0;
                }
                +section {
                    max-height: 10000px;
                    transition: all 0.5s cubic-bezier(1, 0, 1, 0) 0.5s;
                    @media (min-width: $breakpoint) {
                        display: block;
                    }
                }
            }
        }
    }
    >label {
        border-radius: 0.4rem 0.4rem 0rem 0rem;
        font-size: 15px;
        position: relative;
        background-color: darken($tabs-base-color, 10);
        cursor: pointer;
        margin: 0px;
        font-weight: normal;
        margin: 0;
        display: block;
        transition: background-color 0.5s linear, color 0.5s linear;
        @media (min-width: $breakpoint) {
            display: inline-block;
            padding: 10px 10px;
        }
        &::after {
            content: '';
            position: absolute;
            top: 26px;
            right: 25px;
            border-color: #4d4d4d transparent transparent transparent;
            border-style: solid;
            border-width: 5px;
            transform: rotateY(180deg);
            transition: transform 0.3s linear;
            transition: opacity 0.5s linear;
            @media (min-width: $breakpoint) {
                content: none;
            }
        }
        &:hover {
            color: white;
            padding-top: 15px;
            background: $tabs-base-color;
        }
    }
    >section {
        max-height: 0;
        //padding: 1rem;
        overflow: hidden;
        transition: all 0.5s cubic-bezier(0, 1, 0, 1);
        width: 100%;
        background-color: $tabs-base-color;
        display: block;
        border-radius: 0rem 0.286rem 0.286rem 0.286rem;
        @media (min-width: $breakpoint) {
            float: left;
            display: none;
        }
    }
}

@media(max-width: 1070px) {
    .layer {
        width: 33.33%
    }
}

@media(max-width: 1024px) {
    .hyperparameter {
        width: 33.3%;
    }
}

@media(max-width: 768px) {
    .hyperparameter {
        width: 50%;
    }
}

@media(max-width: 690px) {
    .eciLeft {
        width: 100%;
        padding: 0;
    }
    .eciRight {
        width: 100%;
        padding: 0;
    }
}

@media(max-width: 620px) {
    .layer {
        width: 50%
    }
}

@media(max-width: 560px) {
    .headerLeft {
        width: 100%;
    }
    .headerRight {
        width: 100%;
    }
    .page-buttons {
        margin: auto;
    }
}

@media(max-width: 528px) {
    .hyperparameter {
        width: 100%;
    }
}

@media(max-width: 452px) {
    .page {
        max-width: 30px;
    }
    .arrow {
        font-size: 1.5em;
    }
}

@media(max-width: 430px) {
    .layer {
        width: 100%;
    }
}

@media(max-width: 414px) {
    .train {
        width: 100%;
    }
}