<div class=" content">
    <!--
    <div class="trainingBody" [hidden]="!training">
        
        <div class="training">
            <h1 style="top: 50%;">Training in progress...</h1>
            <div class="loading"> </div>
        </div>
    </div>
    -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h2 class=" card-title" style="position: relative; float: left;">Configure hyperparameters</h2>
                </div>
                <div class="card-body" style="padding-left: 0; padding-right: 0;">
                    <div class="hyperparameter">
                        <h6>Problem type</h6>
                        <select class='dropdown' [(ngModel)]="problemType" ngbTooltip="Problem type" (change)='checkProblemType()'>
                            <option class='option' value="Regression">Regression</option>
                            <option class='option' value="Classification">Classification</option>
                        </select>
                    </div>
                    <div class="hyperparameter">
                        <h6>Encoding type</h6>
                        <select class='dropdown' [(ngModel)]="encodingType" ngbTooltip="Encoding type">
                            <option class='option' value="label">Label</option>
                            <option class='option' value="one-hot">One-Hot</option>
                            <option class='option' value="binary">Binary</option>
                            <option class='option' value="frequency">Frequency</option>
                        </select>
                    </div>
                    <div class="hyperparameter">
                        <h6>Optimizer</h6>
                        <select class='dropdown' [(ngModel)]="optimizer" ngbTooltip="Optimizer">
                            <option class='option' value="Adam">Adam</option>
                            <option class='option' value="SGD">SGD</option>
                            <option class='option' value="RMSprop">RMSprop</option>
                            <option class='option' value="Adadelta">Adadelta</option>
                            <option class='option' value="Adagrad">Adagrad</option>
                            <option class='option' value="Adamax">Adamax</option>
                            <option class='option' value="Nadam">Nadam</option>
                            <option class='option' value="Ftrl">Ftrl</option>
                        </select>
                    </div>
                    <div class="hyperparameter">
                        <h6>Regularization</h6>
                        <select class='dropdown' [(ngModel)]="regularization" ngbTooltip="Regularization">
                            <option class='option' value="None">None</option>
                            <option class='option' value="L1">L1</option>
                            <option class='option' value="L2">L2</option>
                        </select>
                    </div>
                    <div class="hyperparameter">
                        <h6>Loss function</h6>
                        <label style="display: none;" *ngIf="problemType == 'Regression'; then thenBlock1 else elseBlock1"></label>
                        <ng-template #thenBlock1>
                            <select class='dropdown' [(ngModel)]="lossFunction" ngbTooltip="Loss function">
                                <option class='option' value="mean_squared_error">Mean Squared Error</option>
                                <option class='option' value="mean_squared_logarithmic_error">Mean Squared Logarithmic Error</option>
                                <option class='option' value="mean_absolute_error">Mean Absolute Error</option>
                            </select>
                        </ng-template>
                        <ng-template #elseBlock1>
                            <select class='dropdown' [(ngModel)]="lossFunction" ngbTooltip="Loss function">
                                <option class='option' value="binary_crossentropy">Binary Cross-Entropy</option>
                                <option class='option' value="hinge">Hinge Loss</option>
                                <option class='option' value="squared_hinge">Squared Hinge Loss</option>
                                <option class='option' value="categorical_crossentropy">Categorical Cross-Entropy</option>
                                <option class='option' value="sparse_categorical_crossentropy">Sparse Categorical Cross-Entropy</option>
                                <option class='option' value="kullback_leibler_divergence">Kullback Leibler Divergence</option>
                            </select>
                        </ng-template>
                    </div>
                    <div class="hyperparameter">
                        <h6>Ratio of training to test data - {{range}} : {{100-range}}</h6>
                        <input type="range" min="10" max="90" step="10" value="50" [(ngModel)]="range" ngbTooltip="Ratio of training to test data">
                    </div>
                    <div class="hyperparameter">
                        <h6>Activation function</h6>
                        <select class='dropdown' [(ngModel)]="activationFunction" ngbTooltip="Activation function">
                            <option class='option' value="sigmoid">Sigmoid</option>
                            <option class='option' value="tanh">Tanh</option>
                            <option class='option' value="relu">Relu</option>
                            <option class='option' value="linear">Linear</option>
                        </select>
                    </div>
                    <div class="hyperparameter">
                        <h6>Learning rate</h6>
                        <select class='dropdown' [(ngModel)]="learningRate" ngbTooltip="Learning rate">
                            <option class='option' value="0.0001">0.0001</option>
                            <option class='option' value="0.001">0.001</option>
                            <option class='option' value="0.01">0.01</option>
                            <option class='option' value="0.03">0.03</option>
                            <option class='option' value="0.1">0.1</option>
                            <option class='option' value="0.3">0.3</option>
                            <option class='option' value="1">1</option>
                            <option class='option' value="3">3</option>
                            <option class='option' value="10">10</option>
                        </select>
                    </div>
                    <div class="hyperparameter">
                        <h6>Regularization rate</h6>
                        <select class='dropdown' [(ngModel)]="regularizationRate" ngbTooltip="Regularization rate">
                            <option class='option' value="0">0</option>
                            <option class='option' value="0.001">0.001</option>
                            <option class='option' value="0.01">0.01</option>
                            <option class='option' value="0.03">0.03</option>
                            <option class='option' value="0.1">0.1</option>
                            <option class='option' value="0.3">0.3</option>
                            <option class='option' value="1">1</option>
                            <option class='option' value="3">3</option>
                            <option class='option' value="10">10</option>
                        </select>
                    </div>
                    <div class="hyperparameter" style="margin-bottom: 1rem;">
                        <h6>Number of Epochs</h6>
                        <input class="dropdown" type="text" value="{{epochs}}" [(ngModel)]="epochs" ngbTooltip="Number of Epochs">
                    </div>
                    <div class="hyperparameterMetrics">
                        <h6>Metrics</h6>
                        <ng-multiselect-dropdown ngbTooltip="Choose metrics to display in graph bellow" [placeholder]="'Choose Metrics'" [settings]="dropdownSettings" [data]="dropdownList" [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                        </ng-multiselect-dropdown>
                    </div>
                    <!--<div>{{range}}</div>-->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div style="width : 250px; position: relative; float: left;">
                        <h2 class=" card-title">Configure layers</h2>
                    </div>
                    <div class=" btn-group" style="position: relative; float: left;">
                        <button class=" btn btn-danger btn-simple btn-sm minus" (click)="decreaseLayers(layersLabel-1)">
                            <i class=" tim-icons icon-simple-delete"></i>
                        </button>
                        <button class=" btn btn-danger btn-sm plus" (click)="increaseLayers()">
                            <i class=" tim-icons icon-simple-add"></i>
                        </button>
                    </div>
                    <div style="position: relative; float: left; width: 50px; text-align: center;">
                        <h2 style="padding: 3px;">{{layerList.length}}</h2>
                    </div>
                </div>

                <div class="card-body layerContainer">
                    <div class="col-2 layer" *ngFor="let layer of layerList" div>
                        <div class="buttons">
                            <div class=" btn-group" style="position: relative; float: left;">
                                <button class=" btn btn-danger btn-simple btn-sm minus" (click)="decreaseNeurons(layer.id-1, neuronsList[layer.id-1])">
                                    <i class=" tim-icons icon-simple-delete"></i>
                                </button>
                                <button class=" btn btn-danger btn-sm plus" (click)="increaseNeurons(layer.id-1)">
                                    <i class=" tim-icons icon-simple-add"></i>
                                </button>
                            </div>
                            <h2 style="position: relative; float: right; padding: 3px;">{{neuronsMatrix[layer.id-1].length}}</h2>
                        </div>
                        <div>
                            <div class="neuron" *ngFor="let neuron of neuronsMatrix[layer.id-1]">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <button class="btn btn-primary btn-lg btn-block mb-3 train" type="submit" (click)="startTraining()">START TRAINING</button>
                </div>
            </div>
        </div>
    </div>
    <div class=" row">
        <div class=" col-12">
            <div class=" card card-chart">
                <div class=" card-header">
                    <div class=" row">
                        <div class=" col-sm-6 text-left">
                            <h2 class=" card-title">Performance</h2>
                        </div>
                        <div class=" col-sm-6">
                            <div class=" btn-group btn-group-toggle float-right" data-toggle="buttons" *ngIf="buttons.length > 0">
                                <button class="btn btn-danger btn-sm plus" *ngFor="let button of buttons" [ngbTooltip]="showTooltip(button)" (click)="changeData(button)" placement="left">{{button}}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" card-body" [hidden]="!trained">
                    <div class=" chart-area"><canvas id="chartBig1"> </canvas></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" [hidden]="!trained">
        <div class="col-12">
            <div class="card">
                <div class="card-header" style="padding:0px !important;">
                    <div class="expContainer">
                        <h2 class=" card-title saveTitle">Save your experiment</h2>
                    </div>
                    <div class="expContainer">
                        <input type="text" class="experimentName" ngbTooltip="Enter experiment name" [(ngModel)]="experimentName">
                    </div>
                    <div class="expContainer">
                        <button class="btn btn-primary btn-lg btn-block mb-3 save" type="submit" (click)="saveExperiment()" [disabled]="experimentName==''">SAVE EXPERIMENT</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>