<div id="body">
    <div class="box">
        <h1>Registracija</h1>

        <input type="text" placeholder="Ime" name="name" [(ngModel)]="name">

        <input type="text" placeholder="Prezime" name="surname" [(ngModel)]="surname">

        <input type="text" placeholder="Email" name="email" [(ngModel)]="email">

        <input type="text" placeholder="Korisnicko ime" name="username" [(ngModel)]="username">
 
        <input type="password" placeholder="Lozinka" name="password"[(ngModel)]="password">
 
        <button (click)="registration()">Kreiraj nalog</button>
    </div>
</div>
