<div class="logo" style="text-align: center;">
    <a class="simple-text logo-normal expName">
        {{experimentName}}
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{ menuItem.class }} nav-item" [hidden]="!notSelected(menuItem.title)">
            <a [routerLink]="[menuItem.path]">
                <i class="tim-icons  {{ menuItem.icon }}"></i>
                <p>{{ menuItem.title }}</p>
            </a>
        </li>
    </ul>
</div>