<div class="logo" style="text-align: center;">
    <a class="simple-text logo-normal expName">
        {{experimentName}}
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav"  *ngIf="!ind">
        <!--[hidden]="!notSelected(menuItem.title)"-->
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{ menuItem.class }} nav-item">
            <a [routerLink]="[menuItem.path]" [hidden]="(hide() && menuItem.titleEn != 'Home') || (menuItem.titleEn == 'Home' && cookie.get('home') == 'true') || ((menuItem.titleEn == 'Data Preview' || menuItem.titleEn == 'Model Training') && !cookie.get('filename'))">
                <i class="{{ menuItem.icon }}"></i>
                <p>{{ menuItem.titleEn }}</p>
            </a>
        </li>
    </ul>

    <ul class="nav"  *ngIf="ind">
        <!--[hidden]="!notSelected(menuItem.title)"-->
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{ menuItem.class }} nav-item">
            <a [routerLink]="[menuItem.path]" [hidden]="(hide() && menuItem.titleSr != 'Pocetna') || (menuItem.titleSr == 'Pocetna' && cookie.get('pocetna') == 'true') || ((menuItem.titleSr == 'Pregled podataka' || menuItem.titleSr == 'Obuka modela') && !cookie.get('filename'))">
                <i class="{{ menuItem.icon }}"></i>
                <p>{{ menuItem.titleSr }}</p>
            </a>
        </li>
    </ul>

</div>