<div class="header">
    <div class="headerLeft">
        <div class="img"></div>
    </div>
    <div class="headerRight">
        <a class="navItem white register" routerLink="/register" routerLinkActive="active"><i class=" tim-icons icon-laptop"></i> Register </a>
        <a class="navItem text-primary upload" routerLink="/upload" routerLinkActive="active"><i class=" tim-icons icon-minimal-left"></i> Back to Playground </a>
    </div>
</div>
<div class="wrapper wrapper-full-page" style="min-height: 665px;">
    <div class="full-page login-page">
        <div class="content">
            <div class="container">
                <div class=" col-lg-4 col-md-6 ml-auto mr-auto">
                    <form class="form" novalidate [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
                        <div class=" card card-login">
                            <div class=" card-header">
                                <h1 class=" card-title">Log in</h1>
                            </div>
                            <div class=" card-body">
                                <div class="input-group">
                                    <div class=" input-group-prepend">
                                        <div class=" input-group-text">
                                            <i class=" tim-icons icon-single-02"></i>
                                        </div>
                                    </div>
                                    <input type="text" placeholder="Username" name="username" formControlName="username" class="form-control">
                                </div>
                                <div class="input-group">
                                    <div class=" input-group-prepend">
                                        <div class=" input-group-text">
                                            <i class=" tim-icons icon-lock-circle"></i>
                                        </div>
                                    </div>
                                    <input type="password" placeholder="Password" name="password" formControlName="password" class="form-control">
                                </div>
                                <div class="input-group">
                                    <div *ngIf="(m.username.touched && m.username.invalid) || (m.password.touched && m.password.invalid)">
                                        <div *ngIf="m.username.errors?.pattern || m.password.errors?.pattern">Wrong username or password!</div>
                                    </div>
                                </div>
                            </div>
                            <div class=" card-footer">
                                <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary btn-lg btn-block mb-3">Log in</button>
                                <div class=" pull-left">
                                    <h6>
                                        <a class="text-primary" routerLink="/register" routerLinkActive="active"> Create Account </a>
                                    </h6>
                                </div>
                                <div class=" pull-right">
                                    <h6>
                                        <a class="text-primary" routerLink="" routerLinkActive="active"> Need Help? </a>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class=" footer">
    <div class=" container-fluid">
        <ul class=" nav">
            <li class=" nav-item">
                <a class=" nav-link" href="#"> About Us </a>
            </li>
        </ul>
        <div class=" copyright">
            &copy; 2022 made by Cortex.
        </div>
    </div>
</footer>