<div>
    <input type="file" #file (change)="uploadFile(file.files)" accept=".csv" style="display: none;">
    <button type="button" name="upload" (click)="file.click()">Upload files</button>


    <table class="table table-bordered">
        <thead>
          <tr>
            <th *ngFor="let item of headingLines[0]; let i = index">{{item}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of rowLines[0]; let i = index">
            <td *ngFor="let itemm of headingLines[0]; let j = index">{{item[j]}}</td>
          </tr>
        </tbody>
      </table>
</div>