.row {
    margin-right: 0px;
}

.container {
    height: auto;
    max-width: none;
    min-width: 0px;
    flex: auto;
    position: relative;
    border: 1px solid #7d3c8b;
    min-height: 30px;
    overflow: hidden;
    //border-radius: 3px;
}

.b {
    background-color: #7d3c8b;
    color: #ffff;
}

i {
    color: #ffff;
}

i:hover {
    color: #7d3c8b;
}

.parameter {
    width: auto;
    height: 80px;
    display: block;
    float: left;
    flex: auto;
    margin-left: 1em;
    margin-top: 1em;
}

.hyperparameter {
    width: 25%;
    height: 100px;
    display: block;
    float: left;
    flex: auto;
    padding: 0.5rem;
    margin-top: 1em;
}

.dropdown {
    font-size: 13px;
    padding: 10px 8px 10px 14px;
    background: transparent;
    //opacity: 0.6;
    border: 1px solid #7d3c8b;
    border-radius: 6px;
    overflow: hidden;
    color: white;
    margin-right: 20px;
    margin-top: 8px;
    height: 42px;
    width: 25%;
    position: relative;
    bottom: 0;
    width: 100%;
    cursor: pointer;
}

.dropdown:focus {
    border-color: #7d3c8b;
}

.option {
    line-height: 1;
    border: 0;
    padding: 0;
    border-radius: 6px;
    width: 120%;
    position: relative;
    z-index: 10;
    font-size: 1em;
    color: white;
    background: #27293d;
}

h6 {
    text-align: left;
}

h5 {
    display: block;
    text-align: left;
    font-size: .90em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    line-height: 1.0;
}

.titleDiv {
    clear: both;
    margin-top: 2em;
}

.filenameparameter {
    width: auto;
    height: 80px;
    display: block;
    float: left;
    flex: auto;
    margin-top: 1rem;
    padding: 0px;
}

.train {
    font-size: 13px;
    padding: 10px 8px 10px 14px;
    background-color: #7d3c8b;
    //opacity: 0.6;
    border: 1px solid #7d3c8b;
    border-radius: 6px;
    overflow: hidden;
    color: white;
    margin-right: 20px;
    margin-top: 8px;
    height: 42px;
    width: 25%;
    position: relative;
    bottom: 0;
    width: 100%;
    cursor: pointer;
}

.author {
    h5 {
        text-align: center;
    }
}

.user-btn {
    width: 150px;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px 10px 0px 10px;
}

@media(max-width: 1350px) {
    .hyperparameter {
        width: 33.3%;
    }
}

@media(max-width: 1110px) {
    .hyperparameter {
        width: 50%;
    }
}

@media(max-width: 600px) {
    .hyperparameter {
        width: 100%;
    }
}