<div class=" content">
    <div class=" row">
        <div class=" col-md-4">
        </div>
        <div class=" col-md-4">
            <div class=" card card-user">
                <div class=" card-body">
                    <p class=" card-text"></p>
                    <div class=" author">
                        <div class=" block block-one"></div>
                        <div class=" block block-two"></div>
                        <div class=" block block-three"></div>
                        <div class=" block block-four"></div>
                        <img alt="..." class=" avatar" src="assets/img/profile.jpg" />

                        <h5 class=" title">Username: {{userInfo.username}}</h5>
                        <h5 class=" title">First name: {{userInfo.firstname}}</h5>
                        <h5 class=" title">Last name: {{userInfo.lastname}}</h5>
                        <h5 class=" title">E-mail: {{userInfo.email}}</h5><br><br>
                        <p class=" description"></p><br>

                        <button class="btn btn-primary btn-lg user-btn" (click)="editInfo()">Edit Info</button>
                        <button class="btn btn-primary btn-lg user-btn" (click)="changePassword()">Edit Password</button>
                    </div>
                </div>
            </div>
            <div class=" card card-user" *ngIf="indicatorInfo">
                <div class=" card-body">
                    <p class=" card-text"></p>
                    <div class=" author">


                        <h6 class=" title">Edit Profile</h6>
                        <br>
                        <form class="form" novalidate [formGroup]="editForm" (ngSubmit)="edit(editForm)">
                            <div class=" input-group">
                                <input class=" form-control" placeholder="{{userInfo.firstname}}" name="firstname" formControlName="firstname" type="text" />
                            </div>
                            <div class=" input-group">
                                <input class=" form-control" placeholder="{{userInfo.lastname}}" name="lastname" formControlName="lastname" type="text" />
                            </div>
                            <div class=" input-group">
                                <input class=" form-control" placeholder="Password" name="password" formControlName="password" type="password" />
                            </div>
                            <div class=" input-group">
                                <input class=" form-control" placeholder="Confirm password" name="confirmPassword" formControlName="confirmPassword" type="password" />
                            </div>
                            <br>
                            <button [disabled]="!editForm.valid" class="btn btn-primary btn-lg btn-block mb-3" type="submit">Save</button><br>
                        </form>
                    </div>
                </div>
                <div class=" card-footer">
                </div>


                <div>
                </div>
            </div>
            <div class=" card card-user" *ngIf="indicatorPassword">
                <div class=" card-body">
                    <p class=" card-text"></p>
                    <div class=" author">
                        <div class=" card-header1">
                            <h6 class=" title">Edit Password</h6>
                        </div><br>
                        <form class="form" novalidate [formGroup]="editPasswordForm" (ngSubmit)="editPassword(editPasswordForm)">
                            <div class=" input-group">
                                <input class=" form-control" placeholder="Old password" type="password" name="currentPassword" formControlName="currentPassword" />
                            </div>
                            <div class=" input-group">
                                <input class=" form-control" placeholder="New password" type="password" name="newPassword" formControlName="newPassword" />
                            </div>
                            <div class=" input-group">
                                <input class=" form-control" placeholder="Confirm new password" type="password" name="confirmNewPassword" formControlName="confirmNewPassword" />
                            </div>
                            <br>

                            <button [disabled]="!editPasswordForm.valid" class="btn btn-primary btn-lg btn-block mb-3" type="submit">Save</button>
                        </form>
                    </div>
                </div>
                <div class=" card-footer">
                </div>


                <div>
                </div>
            </div>
        </div>
    </div>