<div class=" content">
    <div class=" row">
        <div class=" col-md-4">
        </div>
        <div class=" col-md-4">
            <div class=" card card-user">
                <div class=" card-body">
                    <p class=" card-text"></p>
                    <div class=" author">
                        <div class=" block block-one"></div>
                        <div class=" block block-two"></div>
                        <div class=" block block-three"></div>
                        <div class=" block block-four"></div>
                        <img alt="..." class=" avatar" src="assets/img/profile.jpg" />

                        <h5 class=" title">{{'Username:' | translate}} {{userInfo.username}}</h5>
                        <h5 class=" title">{{'First name:' | translate}} {{userInfo.firstname}}</h5>
                        <h5 class=" title">{{'Last name:' | translate}} {{userInfo.lastname}}</h5>
                        <h5 class=" title">{{'E-mail:' | translate}} {{userInfo.email}}</h5><br><br>
                        <p class=" description"></p><br>

                        <button class="btn btn-primary btn-lg user-btn" (click)="editInfo()">{{'Edit Info' | translate}}</button>
                        <button class="btn btn-primary btn-lg user-btn" (click)="changePassword()">{{'Edit Password' | translate}}</button>
                    </div>
                </div>
            </div>
            <div class=" card card-user" *ngIf="indicatorInfo">
                <div class=" card-body">
                    <p class=" card-text"></p>
                    <div class=" author">


                        <h6 class=" title">{{'Edit Profile' | translate}}</h6>
                        <br>
                        <form class="form" novalidate [formGroup]="editForm" (ngSubmit)="edit(editForm)">
                            <div class=" input-group">
                                <input class=" form-control" placeholder="{{userInfo.firstname}}" name="firstname" formControlName="firstname" type="text" />
                            </div>
                            <div class=" input-group">
                                <input class=" form-control" placeholder="{{userInfo.lastname}}" name="lastname" formControlName="lastname" type="text" />
                            </div>
                            <div class=" input-group">
                                <input class=" form-control" placeholder="{{'Password' | translate}}" name="password" formControlName="password" type="password" />
                            </div>
                            <br>
                            <button [disabled]="!editForm.valid" class="btn btn-primary btn-lg btn-block mb-3" type="submit">{{'Save' | translate}}</button><br>
                        </form>
                    </div>
                </div>
                <div class=" card-footer">
                </div>


                <div>
                </div>
            </div>
            <div class=" card card-user" *ngIf="indicatorPassword">
                <div class=" card-body">
                    <p class=" card-text"></p>
                    <div class=" author">
                        <div class=" card-header1">
                            <h6 class=" title">{{'Edit Password' | translate}}</h6>
                        </div><br>
                        <form class="form" novalidate [formGroup]="editPasswordForm" (ngSubmit)="editPassword(editPasswordForm)">
                            <div class=" input-group">
                                <input class=" form-control" placeholder="{{'Old password' | translate}}" type="password" name="currentPassword" formControlName="currentPassword" />
                            </div>
                            <div class=" input-group">
                                <input class=" form-control" placeholder="{{'New password' | translate}}" type="password" name="newPassword" formControlName="newPassword" />
                            </div>
                            <div class=" input-group">
                                <input class=" form-control" placeholder="{{'Confirm new password' | translate}}" type="password" name="confirmNewPassword" formControlName="confirmNewPassword" />
                            </div>
                            <br>

                            <button [disabled]="!editPasswordForm.valid" class="btn btn-primary btn-lg btn-block mb-3" type="submit">{{'Save' | translate}}</button>
                        </form>
                    </div>
                </div>
                <div class=" card-footer">
                </div>


                <div>
                </div>
            </div>
        </div>
    </div>