<div class=" content">
    <div class=" row">
        <div class="statistics col-lg-4" *ngIf="showStatisticDiv" [hidden]="hideStatistics">
            <div class=" card s">
                <div class=" card-header">
                    <div style="width:100%; height:auto;">
                        <h3 class=" card-category" style="color: white; float:left;">Column Statistics</h3>
                        <button type="submit" class="btn btn-primary btn-lg btn-block mb-3 train" (click)="expandStats()" style="margin-bottom: 0px;">{{statsButton}}</button>
                    </div>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive stat" [hidden]="!hideS" id="table">
                        <table class=" table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th *ngFor="let item of fullCorrColNamesArray; let i = index">{{item}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>MIN</td>
                                    <td *ngFor="let item of arrMin; let i = index">{{item}}</td>
                                </tr>
                                <tr>
                                    <td>Q1</td>
                                    <td *ngFor="let item of arrQ1; let i = index">{{item}}</td>
                                </tr>
                                <tr>
                                    <td>MEAN</td>
                                    <td *ngFor="let item of arrMean; let i = index">{{item}}</td>
                                </tr>
                                <tr>
                                    <td>MEDIAN</td>
                                    <td *ngFor="let item of arrMedian; let i = index">{{item}}</td>
                                </tr>
                                <tr>
                                    <td>Q3</td>
                                    <td *ngFor="let item of arrQ3; let i = index">{{item}}</td>
                                </tr>
                                <tr>
                                    <td>MAX</td>
                                    <td *ngFor="let item of arrMax; let i = index">{{item}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class=" table-full-width" [hidden]="hideS"><br>
                        <table class=" table">
                            <tbody>
                                <tr>
                                    <td>MIN</td>
                                    <td>{{min}}</td>
                                </tr>
                                <tr>
                                    <td>Q1</td>
                                    <td>{{firstQ}}</td>
                                </tr>
                                <tr>
                                    <td>MEAN</td>
                                    <td>{{avg}}</td>
                                </tr>
                                <tr>
                                    <td>MEDIAN</td>
                                    <td>{{med}}</td>
                                </tr>
                                <tr>
                                    <td>Q3</td>
                                    <td>{{thirdQ}}</td>
                                </tr>
                                <tr>
                                    <td>MAX</td>
                                    <td>{{max}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="boxblot col-lg-4" *ngIf="showStatisticDiv" [hidden]="hideBoxplot">
            <div class=" card card-chart s">
                <div class=" card-header">
                    <div style="width:100%; height:auto;">
                        <h3 class=" card-category" style="color: white; float: left;">Boxplot</h3>
                        <h3 class=" card-category" style="color: white; float: right;">Choose column to plot</h3>
                    </div>
                    <select class='dropdown' (change)='onSelectedCol($event)' style="width: 100%; right: 0px; top: 0px;">
                        <option class="option" *ngFor="let item of numericValuesArray; let i = index" value={{item[0]}}|{{item[1]}}>{{item[0]}}</option>
                    </select>
                </div>
                <div class=" card-body">
                    <div id="chart" *ngIf="selectedColDiv">
                        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [plotOptions]="chartOptions.plotOptions" [title]="chartOptions.title" [stroke]="chartOptions.stroke"></apx-chart>
                    </div>
                </div>
            </div>
        </div>
        <div class="matrix col-lg-4" *ngIf="showStatisticDiv" [hidden]="hideMatrix">
            <div class=" card s">
                <div class=" card-header">
                    <h3 class=" card-category" style="color: white;float: left;">Correlation Matrix</h3>
                    <button type="submit" class="btn btn-primary btn-lg btn-block mb-3 train" (click)="expandMatrix()">{{matrixButton}}</button>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive stat" id="corr" [hidden]="hideM">
                        <table class=" table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>{{selectedColName}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of numArray; let i = index">
                                    <td>{{numericValuesArray[i][0]}}</td>
                                    <td>{{item}}</td>
                                    <tr>
                            </tbody>
                        </table>
                    </div>
                    <div class=" table-responsive stat" id="corr" [hidden]="!hideM">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="f"></th>
                                    <th class="f" *ngFor="let item of fullCorrColNamesArray; let i = index">{{item}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of fullCorrColNamesArray; let i = index">
                                    <td>{{item}}</td>
                                    <td *ngFor="let item1 of fullCorrValArray[i]; let j = index">{{item1}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="responsive-tabs">
                <input type="radio" name="tab" id="tab-4" checked>
                <label for="tab-4">X</label>
                <section>
                    <div class="tab-content">
                        <h3 style="margin : 0px; padding: 0px;">Choose a tab to open</h3>
                    </div>
                </section>

                <input type="radio" name="tab" id="tab-1">
                <label for="tab-1">Input & Output Selection</label>
                <section>
                    <div class="tab-content">
                        <div class="divInput">
                            <h4>Input</h4>
                            <div *ngFor="let item of headingLines[0]; let i = index">
                                <div class="Ioption">
                                    <div class="checkDIV">
                                        <input type="checkbox" id="{{ 'check' + i }}" value={{item}} (change)="inputCheckedFun($event); disableOutput(i)" [disabled]="checks[i]" [checked]="checks1[i]">
                                        <label for="{{ 'check' + i }}" class="check-box"></label>
                                    </div>
                                    <p>{{item}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="divOutput">
                            <h4>Output</h4>
                            <div *ngFor="let item of headingLines[0]; let i = index">
                                <div class="Ooption">
                                    <div class="radioDIV">
                                        <input type="radio" name="outputSelection" id="{{ 'radio' + i }}" value={{item}} (change)="selectedOutputFun($event); disableInput(i)" [disabled]="radios[i]" [checked]="radios1[i]">
                                        <label for="{{ 'radio' + i }}" class="radio-button" style="margin: 0px;"></label>
                                    </div>
                                    <p>{{item}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <input type="radio" name="tab" id="tab-2">
                <label for="tab-2">Encoding</label>
                <section>
                    <div class="tab-content">
                        <p>tab two</p>
                    </div>
                </section>

                <input type="radio" name="tab" id="tab-3">
                <label for="tab-3">Data Preprocessing</label>
                <section>
                    <div class="tab-content">
                        <p>tab three<br>with<br>content<br>over<br>more<br>lines</p>
                    </div>
                </section>
            </div>
        </div>
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header" style="padding:0px;">
                    <h3 class=" card-title" style="padding-left: 1rem; padding-top: 1rem;">Uploaded data</h3>
                    <div class="headerLeft" style="padding-top: 8px;">
                        <div class="dropdownContainer">
                            <h6>Filter rows</h6>
                            <select class='dropdown' [(ngModel)]="selectedType" (change)='onSelectedType($event)' placeholder="Data Type" ngbTooltip="Data type">
                                <option class='option' value="all">All</option>
                                <option class='option' value="null">Null</option>
                                <option class='option' value="not null">Not Null</option>
                            </select>
                        </div>
                        <div class="dropdownContainer">
                            <h6>Rows per page</h6>
                            <select class='dropdown' [(ngModel)]="selectedRow" (change)='onSelectedRow($event)' placeholder="Rows" ngbTooltip="Number of rows per page">
                                <option class='option' value="10">10</option>
                                <option class='option' value="20">20</option>
                                <option class='option' value="50">50</option>
                                <option class='option' value="100">100</option>
                            </select>
                        </div>
                    </div>
                    <div class="headerRight">
                        <div class="trash">
                            <button class=" btn btn-link" placement="left" ngbTooltip="Delete selected rows" container="body" (click)="deleteRows()">
                                <i class="tim-icons icon-trash-simple"> </i>
                            </button>
                        </div>
                        <div class="buttons">
                            <button class=" btn btn-link page" style="padding-left: 0;" (click)="lastPage()">
                                <i class="tim-icons icon-double-right arrow"></i>
                            </button>
                            <button class=" btn btn-link page" style="padding-left: 0; padding-right: 0px;" (click)="nextPage(1)">
                                <i class="tim-icons icon-minimal-right arrow"></i>
                            </button>
                            <button class=" btn btn-link page" style="padding-right: 0px;" (click)="nextPage(2)" [hidden]="page >= maxPage-1">
                                {{page+2}}
                            </button>
                            <button class=" btn btn-link page" (click)="nextPage(1)" [hidden]="page == maxPage">
                                {{page+1}}
                            </button>
                            <button class=" btn btn-link page" style="color: white;">
                                {{page}}
                            </button>
                            <button class=" btn btn-link page" (click)="previousPage(1)" [hidden]="page == 1">
                                {{page-1}}
                            </button>
                            <button class=" btn btn-link page" (click)="previousPage(2)" [hidden]="page < 3">
                                {{page-2}}
                            </button>
                            <button class=" btn btn-link page" style="padding-left:0px;" (click)="previousPage(1)">
                                <i class="tim-icons icon-minimal-left arrow"></i>
                            </button>
                            <button class=" btn btn-link page" (click)="firstPage()">
                                <i class="tim-icons icon-double-left arrow"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive" style="height: 500px;" id="table">
                        <table class=" table tablesorter">
                            <thead>
                                <tr>
                                    <th class="f"></th>
                                    <th class="f" *ngFor="let item of headingLines[0]; let i = index" style="text-align: center;">{{item}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of rowLines[0]; let i = index">
                                    <td>
                                        <div style="position: relative; top: 5px">
                                            <input type="checkbox" id="{{ 'check' + i }}" (change)="selectedID(i)">
                                            <label for="{{ 'check' + i }}" class="check-box"></label>
                                        </div>
                                    </td>
                                    <td *ngFor="let itemm of headingLines[0]; let j = index" class="field"><input type="text" value="{{item[j]}}" class="table-td-input" (change)="editCell(i,$event.target.value,itemm)"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card" style="background : transparent; padding-top: 0px;">
                <div class="card-header">
                    <button class="btn btn-primary btn-lg btn-block mb-3 train" routerLink="/dashboard" routerLinkActive="active">Continue</button>
                </div>
            </div>
        </div>
    </div>
</div>