<div class=" content">
    <div class="warning-wrapper" [hidden]="!deleteWarning">
        <div class="warning-modal">
            <div class="warning-modal-body">
                <div class="warning-body" style="padding: 0.5%;overflow: auto;">
                    <div class="warning-content">
                        <h3>{{'Are you sure you want to delete selected rows?' | translate}}</h3>
                        <h4 style="margin-bottom: 30px;">{{'This change is permanent.' | translate}}</h4>
                        <button class="btn btn-primary btn-lg btn-block mb-3 warning-btn" (click)="deleteRows(); deleteWarning=false">{{'Delete' | translate}}</button>
                        <button class="btn btn-primary btn-lg btn-block mb-3 warning-btn" (click)="deleteWarning=false">{{'Cancel' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="warning-modal-background"></div>
    </div>

    <div class=" row">
        <div class="statistics col-lg-4" *ngIf="showStatisticDiv" [hidden]="hideStatistics">
            <div class=" card card-height" id="stat">
                <div class=" card-header">
                    <div style="width:100%; height:auto;">
                        <h3 class=" card-category" style="color: white; float:left;">{{'Column Statistics' | translate}}</h3>
                        <button type="submit" class="btn btn-primary btn-lg btn-block mb-3 train" (click)="expandStats()" style="margin-bottom: 0px;">{{statsButton}}</button>
                    </div>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive" [hidden]="!hideS" id="table">
                        <table class=" table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th *ngFor="let item of statistic['colList']; let i = index">{{item}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>MIN</td>
                                    <td *ngFor="let item of arrMin; let i = index">{{item}}</td>
                                </tr>
                                <tr>
                                    <td>Q1</td>
                                    <td *ngFor="let item of arrQ1; let i = index">{{item}}</td>
                                </tr>
                                <tr>
                                    <td>MEAN</td>
                                    <td *ngFor="let item of arrMean; let i = index">{{item}}</td>
                                </tr>
                                <tr>
                                    <td>MEDIAN</td>
                                    <td *ngFor="let item of arrMedian; let i = index">{{item}}</td>
                                </tr>
                                <tr>
                                    <td>Q3</td>
                                    <td *ngFor="let item of arrQ3; let i = index">{{item}}</td>
                                </tr>
                                <tr>
                                    <td>MAX</td>
                                    <td *ngFor="let item of arrMax; let i = index">{{item}}</td>
                                </tr>
                                <tr>
                                    <td>SD</td>
                                    <td *ngFor="let item of arrStDev; let i = index">{{item}}</td>
                                </tr>
                                <tr>
                                    <td>IQR</td>
                                    <td *ngFor="let item of arrIQR; let i = index">{{item}}</td>
                                </tr>
                                <tr>
                                    <td>FREQUENCY</td>
                                    <td *ngFor="let item of arrFrequency; let i = index">{{item}}</td>
                                </tr>
                                <tr>
                                    <td>MOST FREQUENT</td>
                                    <td *ngFor="let item of arrMostFrequent; let i = index">{{item}}</td>
                                </tr>
                                <tr>
                                    <td>UNIQUE</td>
                                    <td *ngFor="let item of arrUnique; let i = index">{{item}}</td>
                                </tr>
                                <tr>
                                    <td>NULLS</td>
                                    <td *ngFor="let item of arrNumOfNulls; let i = index">{{item}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class=" table-full-width" [hidden]="hideS">
                        <table class=" table" *ngIf="numCol2">
                            <tbody>
                                <tr>
                                    <td>MIN</td>
                                    <td>{{min}}</td>
                                </tr>
                                <tr>
                                    <td>Q1</td>
                                    <td>{{firstQ}}</td>
                                </tr>
                                <tr>
                                    <td>MEAN</td>
                                    <td>{{avg}}</td>
                                </tr>
                                <tr>
                                    <td>MEDIAN</td>
                                    <td>{{med}}</td>
                                </tr>
                                <tr>
                                    <td>Q3</td>
                                    <td>{{thirdQ}}</td>
                                </tr>
                                <tr>
                                    <td>MAX</td>
                                    <td>{{max}}</td>
                                </tr>
                                <tr>
                                    <td>SD</td>
                                    <td>{{stdev}}</td>
                                </tr>
                                <tr>
                                    <td>IQR</td>
                                    <td>{{iqr}}</td>
                                </tr>
                                <tr>
                                    <td>NULLS</td>
                                    <td>{{numOfNulls}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class=" table" *ngIf="!numCol2">
                            <tbody>
                                <tr>
                                    <td>FREQUENCY</td>
                                    <td>{{frequency}}</td>
                                </tr>
                                <tr>
                                    <td>MOST FREQUENT</td>
                                    <td>{{mostFrequent}}</td>
                                </tr>
                                <tr>
                                    <td>UNIQUE</td>
                                    <td>{{unique}}</td>
                                </tr>
                                <tr>
                                    <td>NULLS</td>
                                    <td>{{numOfNulls}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="boxblot col-lg-4" *ngIf="showStatisticDiv" [hidden]="hideBoxplot">
            <div class=" card card-chart card-height">
                <div class=" card-header">
                    <div style="width:100%; height:auto;">
                        <h3 class=" card-category mini-header">{{'Choose column to plot' | translate}}</h3>
                        <button type="submit" class="btn btn-primary btn-lg btn-block mb-3 train" (click)="plotCheck()">{{plotButton}}</button>
                    </div>
                    <select class='dropdown' (change)='onSelectedCol($event);' [ngModel]="selectedColName" style="width: 100%; right: 0px; top: 0px;">
                    <!--   <option class="option" *ngFor="let item of numericValuesArray; let i = index" value={{item[0]}}|{{item[1]}}>{{item[0]}}</option>
                    -->
                        <option class="option" *ngFor="let item of statistic['colList']; let i = index" value={{item}}>{{item}}</option>
                    </select>
                </div>
                <div class=" card-body" [hidden]="plotButton != 'Pie Chart'">
                    <div id="chart" *ngIf="selectedColDiv && numCol2">
                        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [plotOptions]="chartOptions.plotOptions" [title]="chartOptions.title" [stroke]="chartOptions.stroke"></apx-chart>
                    </div>
                    <h3 [hidden]="numCol2" style="text-align: center; margin-top: 7rem;"> Selected column is not numerical. Boxplot cannot be displayed. </h3>
                </div>
                <div class=" card-body" [hidden]="plotButton == 'Pie Chart'">
                    <div class="chart-area" style="height:350px;">
                        <canvas id="pie-chart" [hidden]="!showPieChart"></canvas>
                        <h3 [hidden]="differentValues" style="text-align: center; margin-top: 7rem;"> Too many different values. </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="matrix col-lg-4" *ngIf="showStatisticDiv" [hidden]="hideMatrix">
            <div class="card card-height" id="matrixCard">
                <div class=" card-header">
                    <h3 class=" card-category" style="color: white;float: left;">{{'Correlation Matrix' | translate}}</h3>
                    <button type="submit" class="btn btn-primary btn-lg btn-block mb-3 train" (click)="expandMatrix(); previewMatrix();">{{matrixButton}}</button>
                </div>
                <div class=" card-body">
                    <div class="corr table-responsive stat" [hidden]="hideM" *ngIf="numCol2">
                        <table class=" table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>{{selectedColName}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of numArray; let i = index">
                                    <td>{{numericValuesArray[i][0]}}</td>
                                    <td>{{item}}</td>
                                    <tr>
                            </tbody>
                        </table>
                    </div>
                    <div [hidden]="hideM" *ngIf="!numCol2">
                        <h3 style="text-align: center; margin-top: 10rem;"> Selected column is not numerical. </h3>
                    </div>
                    <div class="corr table-responsive stat" id="corr" [hidden]="!hideM">
                        <table class="table" id="largeMatrix">
                            <thead>
                                <tr>
                                    <th class="corrMatrixHeader"></th>
                                    <th class="corrMatrixHeader" *ngFor="let item of fullCorrColNamesArray; let i = index">{{item}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of fullCorrColNamesArray; let i = index">
                                    <td>{{item}}</td>
                                    <td *ngFor="let item1 of fullCorrValArray[i]; let j = index" class="tdCorrMatrix{{floatToInt(item1)}}">{{item1}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="responsive-tabs">
                <input type="radio" name="tab" id="tab-4" checked>
                <label for="tab-4">X</label>
                <section>
                    <div class="tab-content">
                        <h3 style="margin : 0px; padding: 0px; font-weight: 100; color:white;">{{"Preprocessing data - choose a tab to open" | translate}}</h3>
                    </div>
                </section>

                <input type="radio" name="tab" id="tab-1">
                <label for="tab-1">{{"Inputs & Output Selection" | translate}}</label>
                <section>
                    <div class="tab-content">
                        <div class="divInput">
                            <h4>{{'Inputs' | translate}}</h4>
                            <div *ngFor="let item of statistic['colList']; let i = index">
                                <div class="Ioption">
                                    <div class="checkDIV">
                                        <input type="checkbox" id="{{ 'check1' + i }}" value={{item}} (change)="inputCheckedFun($event); disableOutput(i)" [disabled]="checks[i]" [checked]="checks1[i]">
                                        <label for="{{ 'check1' + i }}" class="check-box"></label>
                                    </div>
                                    <p>{{item}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="divOutput">
                            <h4>{{'Output' | translate}}</h4>
                            <div *ngFor="let item of statistic['colList']; let i = index">
                                <div class="Ooption">
                                    <div class="radioDIV">
                                        <input type="radio" name="outputSelection" id="{{ 'radio' + i }}" value={{item}} (change)="selectedOutputFun($event); disableInput(i)" [disabled]="radios[i]" [checked]="radios1[i]">
                                        <label for="{{ 'radio' + i }}" class="radio-button" style="margin: 0px;"></label>
                                    </div>
                                    <p *ngIf="isDisabledOutput(item)" style="text-decoration: line-through;" ngbTooltip="{{'This column is already selected as an input' | translate}}" placement="left">{{item}}</p>
                                    <p *ngIf="!isDisabledOutput(item)">{{item}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <input type="radio" name="tab" id="tab-2">
                <label for="tab-2">{{'Encoding' | translate}}</label>
                <section>
                    <div class="tab-content">
                        <div [hidden]="!notChecked">
                            <h4 style="padding: 1rem;">{{'Please choose input.' | translate}}</h4>
                        </div>
                        <div [hidden]="notChecked" class="encoding">
                            <h4 class=" card-title">{{'Choose encoding for selected input columns' | translate }}</h4>
                            <div class="encRow" *ngFor="let item of colDataList; let i = index">
                                <div style="clear: both;" *ngIf="item['isSelected'] && !item['output']">
                                    <div class="dropdown1Text">
                                        <p class="encText">{{item['colName']}}</p>
                                    </div>
                                    <select class='dropdown1' name="encodingType" (change)="onSelectedEnc($event)" ngbTooltip="Encoding type">
                                            <option class='option' value="none|{{item['colName']}}" [selected]="item['encList'][0]" *ngIf="item['isNum'] && !item['output']">None</option>
                                            <option class='option' value="label|{{item['colName']}}" [selected]="item['encList'][1]">Label</option>
                                            <option class='option' value="one-hot|{{item['colName']}}" [selected]="item['encList'][2]" *ngIf="!item['output']">One-Hot</option>
                                            <option class='option' value="binary|{{item['colName']}}" [selected]="item['encList'][3]">Binary</option>
                                            <option class='option' value="frequency|{{item['colName']}}" [selected]="item['encList'][4]" *ngIf="!item['output']">Frequency</option>
                                        </select>
                                </div>
                            </div>
                        </div>
                        <div [hidden]="notChecked" class="encoding encoding2">
                            <h4 class=" card-title">{{'Choose encoding for selected output column' | translate}}</h4>
                            <div class="encRow" *ngFor="let item of colDataList; let i = index">
                                <div style="clear: both;" *ngIf="item['isSelected'] && item['output']">
                                    <div class="dropdown1Text">
                                        <p class="encText">{{item['colName']}}</p>
                                    </div>
                                    <select class='dropdown1' name="encodingType" (change)="onSelectedEnc($event)" ngbTooltip="Encoding type">
                                            <option class='option' value="none|{{item['colName']}}" [selected]="item['encList'][0]" *ngIf="item['isNum']">None</option>
                                            <option class='option' value="label|{{item['colName']}}" [selected]="item['encList'][1]">Label</option>
                                            <option class='option' value="one-hot|{{item['colName']}}" [selected]="item['encList'][2]" *ngIf="!item['output']">One-Hot</option>
                                            <option class='option' value="binary|{{item['colName']}}" [selected]="item['encList'][3]">Binary</option>
                                            <option class='option' value="frequency|{{item['colName']}}" [selected]="item['encList'][4]" *ngIf="!item['output']">Frequency</option>
                                        </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <input type="radio" name="tab" id="tab-3">
                <label for="tab-3">{{'Missing values & Outliers' | translate}}</label>
                <section>
                    <div class="tab-content">
                        <div class="divMissingValuesCont">
                            <h4 class=" card-title msHeader">{{'Missing values' | translate}}</h4>
                            <div class="dropdownContainerMissingVal" [hidden]="existsMissingValues()">
                                <h4 class=" card-title msHeader">{{'There are no missing values in this dataset.' | translate}}</h4>
                            </div>
                            <div class="dropdownContainerMissingVal" [hidden]="!existsMissingValues()">
                                <h6>{{'Select column' | translate}}</h6>
                                <select class='dropdownMissingVal' [(ngModel)]="selectedMissingValCol" (change)="onSelectedMissingValueCol($event)">
                                    <option class='option' *ngFor="let item of arrMissingValues; let i = index" value="{{item}}">{{item}}</option>
                                </select>
                            </div>
                            <div class="dropdownContainerMissingVal" [hidden]="!existsMissingValues()">
                                <h6>{{'Select value' | translate}}</h6>
                                <select [hidden]="!numCol1" class='dropdownMissingVal' [(ngModel)]="selectedToFillMissingValCol" (change)="onSelectedToFillMissingValCol($event)">
                                    <option class='option' *ngFor="let item of fillMissingValuesListNum let i = index">{{item}}</option>
                                </select>
                                <select [hidden]="numCol1" class='dropdownMissingVal' [(ngModel)]="selectedToFillMissingValCol" (change)="onSelectedToFillMissingValCol($event)">
                                    <option class='option' *ngFor="let item of fillMissingValuesListNonNum let i = index">{{item}}</option>
                                </select>
                            </div>
                            <div class="dropdownContainerMissingVal" style="margin-bottom:0.2rem;" [hidden]="!existsMissingValues()">
                                <p class="orDiv">{{'OR' | translate}}</p>
                            </div>
                            <div class="dropdownContainerMissingVal" [hidden]="!existsMissingValues()">
                                <h6>{{'Enter value' | translate}}</h6>
                                <input type="text" class="dropdownMissingVal" [(ngModel)]="enteredToFillMissingValCol" (change)="onInputToFillMissingValCol($event)">
                            </div>
                            <div class="dropdownContainerMissingVal" [hidden]="!existsMissingValues()">
                                <button type="submit" class="btn btn-primary btn-lg btn-block mb-3 confirmButton" (click)="confirmToFillMissingValues()">{{'CONFIRM' | translate}}</button>
                            </div>
                        </div>

                        <div class="divMissingValuesCont">
                            <h4 class=" card-title msHeader">{{'Outliers' | translate}}</h4>
                            <div class="dropdownContainerMissingVal" [hidden]="existsOutliers()">
                                <h4 class=" card-title msHeader">{{'There are no outliers in this dataset.' | translate}}</h4>
                            </div>
                            <div class="dropdownContainerMissingVal" [hidden]="!existsOutliers()">
                                <h6>{{'Select column' | translate}}</h6>
                                <select class='dropdownMissingVal' [(ngModel)]="selectedOutliersCol" (change)="onSelectedToChangeOutliers($event)">
                                    <option class='option' *ngFor="let item of arrAllOutliers; let i = index" value="{{item}}">{{item}}</option>
                                </select>
                            </div>
                            <div class="dropdownContainerMissingVal" [hidden]="!existsOutliers()">
                                <h6>{{'Select value' | translate}}</h6>
                                <select class='dropdownMissingVal' [(ngModel)]="selectedToReplaceOutliers" (change)="onSelectedValueOutliers($event)">
                                    <option class='option' *ngFor="let item of replaceOutliersList let i = index">{{item}}</option>
                                </select>
                            </div>
                            <div class="dropdownContainerMissingVal" style="margin-bottom:0.2rem;" [hidden]="!existsOutliers()">
                                <p class="orDiv">{{'OR' | translate}}</p>
                            </div>
                            <div class="dropdownContainerMissingVal" [hidden]="!existsOutliers()">
                                <h6>{{'Enter value' | translate}}</h6>
                                <input type="text" class="dropdownMissingVal" [(ngModel)]="enteredToReplaceOutliersCol" (change)="onInputToFillOutliers($event)">
                            </div>
                            <div class="dropdownContainerMissingVal" [hidden]="!existsOutliers()">
                                <button type="submit" class="btn btn-primary btn-lg btn-block mb-3 confirmButton" (click)="confirmToReplaceOutliers();">{{'CONFIRM' | translate}}</button>
                            </div>
                        </div>
                        <div style="border-top: 1px solid #7d3c8b; width: 100%; height:30px; float:left;">
                            <h6 style="text-align: center; padding-top: 0.5rem;">{{'All unhandled rows with missing values will be deleted when training is started.' | translate}} </h6>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header" style="padding:0px;">
                    <h3 class=" card-title" style="padding-left: 1rem; padding-top: 1rem;">{{'Uploaded data' | translate}}</h3>
                    <div class="headerLeft" style="padding-top: 8px;">
                        <div class="dropdownContainer">
                            <h6>{{'Filter rows' | translate}}</h6>
                            <select class='dropdown' [(ngModel)]="selectedType" (change)='onSelectedType($event, true)' placeholder="Data Type" ngbTooltip="{{'Data type' | translate}}">
                                <option class='option' value="all">{{'All' | translate}}</option>
                                <option class='option' value="null">{{'Null' | translate}}</option>
                                <option class='option' value="not null">{{'Not Null' | translate}}</option>
                                <option class='option' value="outlier">Outliers</option>
                            </select>
                        </div>
                        <div class="dropdownContainer dpr">
                            <h6>{{'Rows per page' | translate}}</h6>
                            <select class='dropdown' [(ngModel)]="selectedRow" (change)='onSelectedRow($event, true)' placeholder="Rows" ngbTooltip="{{'Number of rows per page' | translate}}">
                                <option class='option' value="10">10</option>
                                <option class='option' value="20">20</option>
                                <option class='option' value="50">50</option>
                                <option class='option' value="100">100</option>
                            </select>
                        </div>
                        <div class="dropdownContainer dpr" [hidden]="selectedType != 'outlier'">
                            <h6>{{'Choose column to view outliers' | translate}}</h6>
                            <select class="dropdown" [(ngModel)]="selectedOutlierColumn" ngbTooltip="{{'Showing data with outliers for selected column' | translate}}" (change)="onSelectedOutlierColumn($event, true)">
                                <option class="option" *ngFor="let item of numericValues['col']; let i = index" >{{item}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="headerRight">
                        <div class="trash" [hidden]="!maxPage">
                            <button class=" btn btn-link" placement="left" ngbTooltip="{{'Delete selected rows' | translate}}" container="body" (click)="deleteCheck()">
                                <i class="tim-icons icon-trash-simple" style="font-size: 2em;"> </i>
                            </button>
                        </div>
                        <div class="buttons" [hidden]="!maxPage">
                            <button class=" btn btn-link page" style="padding-left: 0;" (click)="lastPage()">
                                <i class="tim-icons icon-double-right arrow"></i>
                            </button>
                            <button class=" btn btn-link page" style="padding-left: 0; padding-right: 0px;" (click)="nextPage(1)">
                                <i class="tim-icons icon-minimal-right arrow"></i>
                            </button>
                            <button class=" btn btn-link page pageNum" style="padding-right: 0px;" (click)="nextPage(2)" [hidden]="page >= maxPage-1">
                                {{page+2}}
                            </button>
                            <button class=" btn btn-link page pageNum" (click)="nextPage(1)" [hidden]="page == maxPage">
                                {{page+1}}
                            </button>
                            <button class=" btn btn-link page pageNum" style="color: white;">
                                {{page}}
                            </button>
                            <button class=" btn btn-link page pageNum" (click)="previousPage(1)" [hidden]="page == 1">
                                {{page-1}}
                            </button>
                            <button class=" btn btn-link page pageNum" (click)="previousPage(2)" [hidden]="page < 3">
                                {{page-2}}
                            </button>
                            <button class=" btn btn-link page" style="padding-left:0px;" (click)="previousPage(1)">
                                <i class="tim-icons icon-minimal-left arrow"></i>
                            </button>
                            <button class=" btn btn-link page" (click)="firstPage()">
                                <i class="tim-icons icon-double-left arrow"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class=" card-body">
                    <div style="margin: auto" *ngIf="!maxPage">
                        <h1 style="text-align:center">{{selectedTypeMessage()}}</h1>
                    </div>
                    <div class=" table-responsive" style="height: 500px;" id="table" [hidden]="!maxPage">
                        <table class=" table tablesorter">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th *ngFor="let item of headingLines[0]; let i = index" style="text-align: center;" [hidden]="i==(headingLines[0].length -1)">{{item}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of rowLines[0]; let i = index">
                                    <td>
                                        <div style="position: relative; top: 5px">
                                            <input type="checkbox" id="{{ 'check' + i }}" (change)="selectedID($event, rowLines[0][i][rowLines[0][i].length -1])">
                                            <label for="{{ 'check' + i }}" class="check-box"></label>
                                        </div>
                                    </td>
                                    <label style="display: none;" *ngIf="selectedType != 'outlier'; then thenBlock1 else elseBlock1"></label>
                                    <ng-template #thenBlock1>
                                        <td *ngFor="let itemm of headingLines[0]; let j = index" class="field" [hidden]="j==(headingLines[0].length -1)">
                                            <input type="text" value="{{item[j]}}" class="table-td-input" (change)="editCell(rowLines[0][i][rowLines[0][i].length-1],$event.target.value,itemm)">
                                        </td>
                                    </ng-template>
                                    <ng-template #elseBlock1>
                                        <td *ngFor="let itemm of headingLines[0]; let j = index" class="field" [hidden]="j==(headingLines[0].length -1)" [class.selectedOutlierColumn]="isSelectedOutlierField(j)">
                                            <input type="text" value="{{item[j]}}" class="table-td-input" (change)="editCell(rowLines[0][i][rowLines[0][i].length-1],$event.target.value,itemm)">
                                        </td>
                                    </ng-template>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <button class="btn btn-primary btn-lg btn-block mb-3 continue" routerLink="/training" routerLinkActive="active">{{'Continue' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>