@use "sass:math";
.row {
    margin-right: 0px;
}

.table {
    margin: 0px;
}

.table-td-input {
    color: rgba(255, 255, 255, .7)!important;
    background-color: transparent;
    border: none;
    width: 100%;
    text-align: center;
    /*box-sizing: border-box;*/
}

.field:hover {
    background: #1e1e2e;
}

.dropdownContainer {
    padding-right: 1rem;
    float: left;
    width: 50%
}

.dropdown {
    font-size: 14px;
    background: transparent;
    border: 1px solid #7d3c8b;
    border-radius: 6px;
    overflow: hidden;
    color: white;
    margin-top: 8px;
    height: 42px;
    width: 100%;
    position: relative;
    bottom: 0;
    min-width: none;
}

.dropdown:focus {
    border-color: #7d3c8b;
}

.option {
    line-height: 1;
    border: 0;
    padding: 0;
    border-radius: 6px;
    width: 120%;
    position: relative;
    z-index: 10;
    font-size: 1em;
    color: white;
    background: #27293d;
}

.icon-trash-simple {
    color: #7d3c8b;
}

button {
    float: right;
    height: 100%;
    vertical-align: top;
    padding: 0px;
}

i {
    font-size: 3em;
    padding: 0px;
}

#corr::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#corr::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background-color: #F5F5F5;
}

#corr::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #7d3c8b;
}

#table::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#table::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background-color: #F5F5F5;
}

#table::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #7d3c8b;
}


/*
#table::-webkit-scrollbar-corner {
    background-color: #27293d;
}*/

$checked-color: #7d3c8b;
$unchecked-color: #1e1e2e;
$checkbox-height: 20px;
$background-color:#27293d;
$duration: .2s;

/* Checkmark style starts */

@-moz-keyframes dothabottomcheck {
    0% {
        height: 0;
    }
    100% {
        height: math.div($checkbox-height, 2);
    }
}

@-webkit-keyframes dothabottomcheck {
    0% {
        height: 0;
    }
    100% {
        height: math.div($checkbox-height, 2);
    }
}

@keyframes dothabottomcheck {
    0% {
        height: 0;
    }
    100% {
        height: math.div($checkbox-height, 2);
    }
}

@keyframes dothatopcheck {
    0% {
        height: 0;
    }
    50% {
        height: 0;
    }
    100% {
        height: $checkbox-height * 1.2;
    }
}

@-webkit-keyframes dothatopcheck {
    0% {
        height: 0;
    }
    50% {
        height: 0;
    }
    100% {
        height: $checkbox-height * 1.2;
    }
}

@-moz-keyframes dothatopcheck {
    0% {
        height: 0;
    }
    50% {
        height: 0;
    }
    100% {
        height: $checkbox-height * 1.2;
    }
}

input[type=checkbox] {
    display: none;
}

.check-box {
    height: $checkbox-height;
    width: $checkbox-height;
    background-color: transparent;
    border: $checkbox-height * .1 solid $unchecked-color;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: border-color ease math.div($duration, 2);
    -o-transition: border-color ease math.div($duration, 2);
    -webkit-transition: border-color ease math.div($duration, 2);
    transition: border-color ease math.div($duration, 2);
    cursor: pointer;
    &::before,
    &::after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        height: 0;
        width: $checkbox-height * .2;
        background-color: $checked-color;
        display: inline-block;
        -moz-transform-origin: left top;
        -ms-transform-origin: left top;
        -o-transform-origin: left top;
        -webkit-transform-origin: left top;
        transform-origin: left top;
        border-radius: 5px;
        content: ' ';
        -webkit-transition: opacity ease .5;
        -moz-transition: opacity ease .5;
        transition: opacity ease .5;
    }
    &::before {
        top: $checkbox-height * .72;
        left: $checkbox-height * .41;
        box-shadow: 0 0 0 $checkbox-height * .05 $background-color;
        -moz-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }
    &::after {
        top: $checkbox-height * .37;
        left: $checkbox-height * .05;
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}

input[type=checkbox]:checked+.check-box,
.check-box.checked {
    border-color: $checked-color;
    &::after {
        height: $checkbox-height * .5;
        -moz-animation: dothabottomcheck math.div($duration, 2) ease 0s forwards;
        -o-animation: dothabottomcheck math.div($duration, 2) ease 0s forwards;
        -webkit-animation: dothabottomcheck math.div($duration, 2) ease 0s forwards;
        animation: dothabottomcheck math.div($duration, 2) ease 0s forwards;
    }
    &::before {
        height: $checkbox-height * 1.2;
        -moz-animation: dothatopcheck $duration ease 0s forwards;
        -o-animation: dothatopcheck $duration ease 0s forwards;
        -webkit-animation: dothatopcheck $duration ease 0s forwards;
        animation: dothatopcheck $duration ease 0s forwards;
    }
}

th,
td {
    text-align: center;
}

#chart {
    max-width: 650px;
    margin: auto;
}

.page {
    padding: 0.2rem;
    color: #7d3c8b;
    max-width: 42px;
    font-size: 15px;
}

.divOutput,
.divInput {
    width: 50%;
    border: 1px solid #7d3c8b;
    padding: 5px;
    border-radius: 5px;
    color: #ced4da;
    float: left;
    margin-bottom: 1rem;
}

input[type='radio'] {
    margin-right: 5px;
}

input[type='radio']:after {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #27293d;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #1e1e2e;
}

input[type='radio']:checked:after {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #7d3c8b;
    content: '';
    display: inline-block;
    visibility: visible;
    //border: 4px solid #1e1e2e;
}

.train {
    background-color: #27293d;
    width: 125px;
    height: auto;
    margin: auto;
    padding: 5px;
    float: right;
    border: 1px solid #7d3c8b;
    border-radius: 5px;
    color: #ffff;
    margin-bottom: 0px !important;
}

.corrMatrixBody {
    position: relative;
    width: 100%;
    height: 100%;
    background: transparent;
    top: 0;
    left: 0;
    z-index: 20000;
    //padding-left: 5%;
    //padding-right: 5%;
}

.corrMatrix {
    width: auto;
    height: auto;
    background: #1e1e2e;
    color: #ffff;
    text-align: center;
    border: 3px solid #7d3c8b;
    border-radius: 3px;
    margin-bottom: 2%;
}

.cm-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    //overflow: auto;
}

.cm-modal-body {
    padding: 20px;
    background: transparent;
    margin: 40px;
    //overflow: auto;
}

.cm-modal-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.75;
    z-index: 900;
}

body.cm-modal-open {
    overflow: hidden;
}

.Ooption .Ioption {
    padding: 0;
}

.Ioption p {
    padding-left: 2rem;
}

.Ooption p {
    padding-left: 2rem;
}

.Ioption {
    height: auto;
    padding: 0 !important;
}

.checkDIV {
    float: left;
    height: 21px !important;
    padding: 0 !important;
}

.radioDIV {
    float: left;
}

.headerLeft {
    width: 50%;
    padding-left: 1rem;
    height: 80px;
    float: left;
    min-width: none;
}

.headerRight {
    width: 50%;
    padding-right: 1rem;
    height: 80px;
    float: right;
    min-width: none;
}

.buttons {
    height: 80px;
    padding-top: 15px;
}

.trash {
    height: 80px;
    float: right;
    margin: 0;
    padding-left: 0;
    padding-top: 15px;
    width: 42px;
}

.arrow {
    font-size: 1.7rem;
}

.next {
    width: 122px;
}

.io {
    font-size: 1em;
    padding: 0px;
    color: #ffff;
}

.io:hover {
    color: #7d3c8b;
}

.tab-content {
    padding: 1rem;
}

$breakpoint: 569px;
$tabs-base-color: #27293d;
// #####################################
// CSS definition for functionality
.responsive-tabs {
    overflow: overlay;
    >input {
        display: none;
        &:checked {
            +label {
                +section {
                    display: block;
                }
            }
        }
    }
    >label {
        display: block;
        @media (min-width: $breakpoint) {
            display: inline-block;
        }
    }
    >section {
        width: 100%;
        display: none;
        @media (min-width: $breakpoint) {
            float: left;
        }
    }
}

// Classes for simple presentation
.responsive-tabs {
    margin-bottom: 30px;
    >input {
        &:checked {
            +label {
                background-color: $tabs-base-color;
                color: white;
            }
        }
    }
    >label {
        background-color: darken($tabs-base-color, 10);
        margin: 0;
        padding: 15px 20px;
        cursor: pointer;
        @media (min-width: $breakpoint) {
            margin-left: 0px;
        }
    }
    >section {
        background-color: $tabs-base-color;
    }
}

// Classes for better presentation 
.responsive-tabs {
    overflow: overlay;
    margin-bottom: 30px;
    >input {
        display: none;
        &:checked {
            +label {
                background-color: $tabs-base-color;
                color: white;
                font-weight: normal;
                padding-top: 15px;
                cursor: default;
                &::after {
                    transform: translateY(-5px) rotateZ(180deg);
                    opacity: 0;
                }
                +section {
                    max-height: 10000px;
                    transition: all 0.5s cubic-bezier(1, 0, 1, 0) 0.5s;
                    @media (min-width: $breakpoint) {
                        display: block;
                    }
                }
            }
        }
    }
    >label {
        border-radius: 0.4rem 0.4rem 0rem 0rem;
        font-size: 15px;
        position: relative;
        background-color: darken($tabs-base-color, 10);
        cursor: pointer;
        margin: 0px;
        font-weight: normal;
        margin: 0;
        display: block;
        transition: background-color 0.5s linear, color 0.5s linear;
        @media (min-width: $breakpoint) {
            display: inline-block;
            padding: 10px 10px;
        }
        &::after {
            content: '';
            position: absolute;
            top: 26px;
            right: 25px;
            border-color: #4d4d4d transparent transparent transparent;
            border-style: solid;
            border-width: 5px;
            transform: rotateY(180deg);
            transition: transform 0.3s linear;
            transition: opacity 0.5s linear;
            @media (min-width: $breakpoint) {
                content: none;
            }
        }
        &:hover {
            color: white;
            padding-top: 15px;
            background: $tabs-base-color;
        }
    }
    >section {
        max-height: 0;
        //padding: 1rem;
        overflow: hidden;
        transition: all 0.5s cubic-bezier(0, 1, 0, 1);
        width: 100%;
        background-color: $tabs-base-color;
        display: block;
        border-radius: 0rem 0.286rem 0.286rem 0.286rem;
        @media (min-width: $breakpoint) {
            float: left;
            display: none;
        }
    }
}

.warning-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background: transparent;
    top: 0;
    left: 0;
    z-index: 20000;
    //padding-left: 5%;
    //padding-right: 5%;
}

.warning-body {
    width: 325px;
    height: 325px;
    background: #1e1e2e;
    color: #ffff;
    text-align: center;
    border: 3px solid #7d3c8b;
    border-radius: 3px;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
}

.warning-content {
    width: 300px;
    height: 300px;
    background: #27293d;
    padding-top: 0.5rem;
}

.warning-btn {
    width: 80%;
    height: 48px;
    margin-right: 30px;
}

.warning-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    //overflow: auto;
}

.warning-modal-body {
    padding: 60px;
    background: transparent;
    //overflow: auto;
}

.warning-modal-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.75;
    z-index: 900;
}

body.warning-modal-open {
    overflow: hidden;
}

@media(max-width: 785px) {
    .headerLeft {
        width: 100%;
    }
    .headerRight {
        width: 100%;
    }
    .buttons {
        float: left;
    }
}

@media(max-width: 560px) {
    .headerLeft {
        height: auto;
        width: 100%;
    }
    .headerRight {
        width: 100%;
    }
    .dropdownContainer {
        width: 100%;
    }
    .dpr {
        margin-top: 1rem;
    }
    .buttons {
        float: left;
    }
}

@media(max-width: 452px) {
    .page {
        max-width: 30px;
    }
    .arrow {
        font-size: 1.5em;
    }
}

.card-height {
    height: 410px;
}

.height-change {
    height: auto;
}

.f {
    position: sticky;
    top: 0;
    z-index: 20000;
    background-color: #27293d;
}

.stat {
    height: 332px;
}


/*
@media(max-width: 1145px) {
    .s {
        min-height: 390px;
        max-height: 390px;
    }
    .stat{
        max-height: 312px;
    }
}

/*
@media(max-width: 1360px) {
    .x {
        display: block;
        overflow-x: auto;
        white-space: pre; //normal;nowrap
    }
}

.x::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.x::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background-color: #F5F5F5;
}

.x::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #7d3c8b;
}
*/

.hyperparameter {
    width: 20%;
    padding: 1rem;
    height: 80px;
    display: block;
    //float: left;
    flex: auto;
    margin-bottom: 0.5rem;
}

.encoding {
    width: 55%;
    height: auto;
    padding: 2px;
    overflow: auto;
    margin: auto;
}

.encRow {
    width: auto;
}

.dropdown1 {
    font-size: 14px;
    background: transparent;
    border: 1px solid #7d3c8b;
    border-radius: 6px;
    overflow: hidden;
    color: white;
    margin-right: 20px;
    margin-top: 8px;
    height: 30px;
    position: relative;
    bottom: 0;
    cursor: pointer;
    float: left;
}

.dropdown1:focus {
    border-color: #7d3c8b;
}

.dropdown1Text {
    background: transparent;
    border: 1px solid #7d3c8b;
    border-radius: 6px;
    overflow: hidden;
    color: white;
    margin-right: 20px;
    margin-top: 8px;
    height: 30px;
    width: 55%;
    position: relative;
    bottom: 0;
    cursor: pointer;
    float: left;
}

.encText {
    margin-top: 5px;
    margin-left: 5px;
}

@media(max-width: 1139px) {
    .encoding {
        width: 70%;
    }
}

@media(max-width: 780px) {
    .dropdown1Text {
        overflow: none;
        height: auto;
    }
}

@media(max-width: 645px) {
    .dropdown1Text {
        overflow: none;
        height: auto;
        width: 50%;
    }
}

@media(max-width: 478px) {
    .dropdown1Text {
        overflow: none;
        height: auto;
        width: 50%;
    }
    .encoding {
        width: 100%;
    }
}

.dropdown2Text {
    background: transparent;
    border: 1px solid #7d3c8b;
    border-radius: 6px;
    overflow: hidden;
    color: white;
    margin-right: 20px;
    margin-top: 8px;
    height: 30px;
    width: 50%;
    position: relative;
    bottom: 0;
    cursor: pointer;
    float: left;
}

.dropdown2 {
    font-size: 14px;
    background: transparent;
    border: 1px solid #7d3c8b;
    border-radius: 6px;
    overflow: hidden;
    color: white;
    margin-right: 20px;
    margin-top: 8px;
    height: 30px;
    position: relative;
    bottom: 0;
    cursor: pointer;
    float: left;
}

.dropdown2:focus {
    border-color: #7d3c8b;
}

.inputMissingValue {
    background: transparent;
    border: 1px solid #7d3c8b;
    border-radius: 6px;
    overflow: hidden;
    color: white;
    margin-top: 8px;
    max-width: 25%;
    height: 30px;
    position: relative;
    bottom: 0;
    cursor: pointer;
    float: left;
}

.confirmButton {
    background-color: #27293d;
    width: 125px;
    height: auto;
    padding: 5px;
    float: right;
    border: 1px solid #7d3c8b;
    border-radius: 5px;
    color: #ffff;
    margin-bottom: 0px !important;
    margin-top: 8px;
    margin-right: 5px;
}

.orDiv {
    font-size: 14px;
    background: transparent;
    overflow: hidden;
    color: white;
    margin-top: 8px;
    height: 42px;
    width: 100%;
    position: relative;
    bottom: 0;
    min-width: none;
    text-align: center;
}

.divMissingValues {
    width: 50%;
    border: 1px solid #7d3c8b;
    padding: 5px;
    border-radius: 5px;
    color: #ced4da;
    margin: auto;
    margin-bottom: 1rem;
}

.dropdown2 {
    font-size: 14px;
    background: transparent;
    border: 1px solid #7d3c8b;
    border-radius: 6px;
    overflow: hidden;
    color: white;
    margin-right: 10px;
    margin-top: 8px;
    height: 30px;
    position: relative;
    bottom: 0;
    cursor: pointer;
    float: left;
}

.dropdown2:focus {
    border-color: #7d3c8b;
}

.inputMissingValue {
    background: transparent;
    border: 1px solid #7d3c8b;
    border-radius: 6px;
    overflow: hidden;
    color: white;
    margin-top: 8px;
    margin-right: 10px;
    max-width: 25%;
    height: 30px;
    position: relative;
    bottom: 0;
    cursor: pointer;
    float: left;
    width: 125px;
}

.confirmButton {
    background-color: #27293d;
    width: 125px;
    height: auto;
    padding: 5px;
    float: left;
    border: 1px solid #7d3c8b;
    border-radius: 5px;
    color: #ffff;
    margin-bottom: 0px !important;
    margin-top: 8px;
}

.orDiv {
    float: left;
    height: auto;
    margin-bottom: 0px !important;
    margin-top: 8px;
    margin-right: 10px;
}

.or {
    margin-top: 5px;
}

.divMissingValues,
.divOutliers {
    width: 50%;
    border: 1px solid #7d3c8b;
    padding: 5px;
    border-radius: 5px;
    color: #ced4da;
    //margin-bottom: 1rem;
    margin: auto;
}

.deleteOutliersButton {
    background-color: #27293d;
    width: 125px;
    height: auto;
    margin: auto;
    padding: 5px;
    border: 1px solid #7d3c8b;
    border-radius: 5px;
    color: #ffff;
    margin-bottom: 0px !important;
}

.outliersButtonDiv {
    width: 50%;
    height: 35px;
    margin: auto;
    padding: 10px;
}

.dropdownContainerButton {
    padding-right: 1rem;
    float: left;
    //width: 50%
}

.selectedMissingValueCol {
    /*background-color: #7d3c8b;*/
    border: 1px solid #7d3c8b !important;
}

.dropdownContainerMissingVal {
    padding-right: 1rem;
    float: left;
    width: 25%
}

.dropdownMissingVal {
    font-size: 14px;
    background: transparent;
    border: 1px solid #7d3c8b;
    border-radius: 6px;
    overflow: hidden;
    color: white;
    margin-top: 8px;
    height: 42px;
    width: 100%;
    position: relative;
    bottom: 0;
    min-width: none;
}

.dropdownMissingVal:focus {
    border-color: #7d3c8b;
}

.divMissingValuesCont {
    height: 150px;
    padding: 1rem;
    //float:left;
}