#body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #191919;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}


.box {
    width: 460px;
    height: 380px;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #3b3b3b;
    text-align: center;
    border: 2px solid ;
    border-radius: 15px;
}

.box h1 {
    color: lightgrey;
    font-weight: 500;
    padding: 15px 5px;
}


.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: lightgray;
    display: block;
    margin: 6px auto;
    text-align: center;
    border: 2px solid;
    padding: 7px 7px;
    width: 240px;
    outline: none;
    color: #3b3b3b;
    border-radius: 10px;
    transition: 0.25s;
}


#button {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 20px;
    transition: 0.25s;
    cursor: pointer;
}

#link {
    color: darkgrey;
}
