<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class="card-header">
                    <h2 class="card-title">Upload a new dataset</h2>
                </div>
                <div class="card-body">
                    <div class="file-upload">
                        <input class="file-input" type="file" #file (change)="uploadFile(file.files)" accept=".csv">
                        <div class="card-subtitle">Drag n Drop your file dataset</div>
                    </div>
                </div>
            </div>
            <div class=" card">
                <div class="card-header">
                    <div class=" row">
                        <h2 class="card-title"> Choose an existing dataset</h2>
                        <select *ngIf="session" class='dropdown' [(ngModel)]="selectedPrivacyType" (change)='onSelectedType($event)' placeholder="Data Privacy" ngbTooltip="Data Privacy">
                            <option class='option' value="all">All</option>
                            <!--
                            <option class='option' value="true">Public</option>
                            <option class='option' value="false">Private</option>
                            -->
                            <option class='option' value="myFiles">My datasets</option>
                        </select>
                    </div>
                </div>
                <div class="card-body filelist" style="padding-right: 0;">
                    <div class="authorized" *ngIf="session">
                        <div *ngFor="let item of FilesList">
                            <div class="file">
                                <div class="fileContent">
                                    <div class=" row">
                                        <div class="titleHeader">
                                            <h4 class="" style="margin-bottom:0; margin-right: 0px; width: 100px; float: left;">Dataset:</h4>
                                            <div *ngIf="item.thisUser" class="settings">
                                                <button class=" btn btn-link trash" (click)="delete($event,item)" placement="left" ngbTooltip="Delete file" container="body">
                                                    <i class="tim-icons icon-trash-simple"> </i>
                                                </button>
                                                <label class="switch" ngbTooltip="Change file's privacy by toggling this">
                                                    <input type="checkbox" *ngIf="item.Public" (change)="onCheckboxChange($event,item)" checked>
                                                    <input type="checkbox" *ngIf="!item.Public" (change)="onCheckboxChange($event,item)">
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="pull-right fileName">{{item.fileName}}</div>

                                    </div>
                                    <p>Uploaded by: {{item.username}}</p>
                                    <div style="height:30px; background: transparent;">
                                        <a href="/tables" class=" pull-left" (click)="useThis($event,item)">USE THIS</a>
                                        <div class=" download">
                                            <a class=" pull-right" (click)="download($event,item)">DOWNLOAD</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="unauthorized" *ngIf="!session">
                        <div *ngFor="let item of FilesListUnauthorized">
                            <div class="file">
                                <div class="fileContent">
                                    <div class=" row">
                                        <h4 class="card-title" style="margin-bottom:0">Filename:</h4>
                                        <div class="pull-right fileName">{{item.fileName}}</div>
                                    </div>
                                    <p>Uploaded by: {{item.username}}</p>
                                    <div style="height:30px; background: transparent;">
                                        <a href="/tables" class=" pull-left" (click)="useThisUn($event,item)">USE THIS</a>
                                        <div class=" download">
                                            <a class=" pull-right" (click)="downloadUn($event,item)">DOWNLOAD</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>