
<div class="row">
    <div class="col-md-6">
        <app-profile-form></app-profile-form>
    </div>
    <div class="col-md-6">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>EMail</th>
                    <th></th>
                </tr>
            </thead>
            <tr *ngFor="let pd of service.list">
                <td (click)="populateForm(pd)">{{pd.firstName}}</td>
                <td (click)="populateForm(pd)">{{pd.lastName}}</td>
                <td (click)="populateForm(pd)">{{pd.eMail}}</td>
                <td>
                    <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.userID)"></i>
                </td>
            </tr>
        </table>
    </div>

</div>