/* You can add global styles to this file, and also import other style files */

.disabled {
    .dropdown-btn {
        background: #13141e !important;
    }
}

.multiselect-dropdown .dropdown-btn {
    display: inline-block !important;
    width: 100% !important;
    padding: 10px 8px 10px 14px !important;
    margin-bottom: 0 !important;
    font-size: 13px !important;
    border: 1px solid #7d3c8b !important;
    color: white !important;
    vertical-align: middle !important;
    cursor: pointer !important;
    background-image: none !important;
    border-radius: 6px !important;
}

.multiselect-dropdown .selected-item {
    border: 1px solid #7d3c8b !important;
    margin-right: 4px !important;
    background: #7d3c8b !important;
    padding: 0px 5px !important;
    color: #fff !important;
    border-radius: 2px !important;
    float: left !important;
    max-width: 300px !important;
    a {
        text-decoration: none !important;
    }
}

.multiselect-dropdown .selected-item:hover {
    box-shadow: 1px 1px #959595 !important;
}

.multiselect-dropdown .dropdown-down {
    display: inline-block !important;
    top: 10px !important;
    width: 0 !important;
    height: 0 !important;
    border-top: 10px solid #adadad !important;
    border-left: 10px solid transparent !important;
    border-right: 10px solid transparent !important;
}

.multiselect-dropdown .dropdown-up {
    display: inline-block !important;
    width: 0 !important;
    height: 0 !important;
    border-bottom: 10px solid #adadad !important;
    border-left: 10px solid transparent !important;
    border-right: 10px solid transparent !important;
}

.dropdown-list {
    position: absolute !important;
    padding-top: 6px !important;
    width: 100% !important;
    z-index: 9999 !important;
    border: 1px solid #ccc !important;
    border-radius: 3px !important;
    background: #27293d !important;
    margin-top: 10px !important;
    box-shadow: 0px 1px 5px #959595 !important;
    ul {
        padding: 0px !important;
        list-style: none !important;
        overflow: auto !important;
        margin: 0px !important;
    }
    li {
        padding: 6px 10px;
        cursor: pointer;
        text-align: left;
    }
    .filter-textbox {
        border-bottom: 1px solid #ccc;
        position: relative;
        padding: 10px;
        input {
            border: 0px;
            width: 100%;
            padding: 0px 0px 0px 26px;
        }
        input:focus {
            outline: none;
        }
    }
}

.dropdown-list ul::-webkit-scrollbar-track {
    display: none !important;
}

.dropdown-list ul::-webkit-scrollbar {
    display: none !important;
}

.dropdown-list ul::-webkit-scrollbar-thumb {
    display: none !important;
}

.multiselect-item-checkbox:hover {
    background-color: #1e1e28 !important;
}

.multiselect-item-checkbox input[type=checkbox] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.multiselect-item-checkbox input[type=checkbox]:focus+div:before,
.multiselect-item-checkbox input[type=checkbox]:hover+div:before {
    border-color: #7d3c8b !important;
    background-color: #1e1e28 !important;
}

.multiselect-item-checkbox input[type=checkbox]:active+div:before {
    transition-duration: 0s;
}

.multiselect-item-checkbox input[type=checkbox]+div {
    position: relative;
    padding-left: 2em;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
    margin: 0px;
    color: #fff !important;
}

.multiselect-item-checkbox input[type=checkbox]+div:before {
    box-sizing: content-box;
    content: '';
    color: #7d3c8b !important;
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 14px;
    margin-top: -9px;
    border: 2px solid #7d3c8b !important;
    text-align: center;
    transition: all 0.4s ease;
}

.multiselect-item-checkbox input[type=checkbox]+div:after {
    box-sizing: content-box;
    content: '';
    background-color: #7d3c8b !important;
    position: absolute;
    top: 50%;
    left: 4px;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    transform: scale(0);
    transform-origin: 50%;
    transition: transform 200ms ease-out;
}

.multiselect-item-checkbox input[type=checkbox]:disabled+div:before {
    border-color: #cccccc;
}

.multiselect-item-checkbox input[type=checkbox]:disabled:focus+div:before .multiselect-item-checkbox input[type='checkbox']:disabled:hover+div:before {
    background-color: inherit;
}

.multiselect-item-checkbox input[type=checkbox]:disabled:checked+div:before {
    background-color: #cccccc;
}

.multiselect-item-checkbox input[type=checkbox]+div:after {
    background-color: transparent;
    top: 50%;
    left: 4px;
    width: 8px;
    height: 3px;
    margin-top: -4px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 0 0 3px 3px;
    border-image: none;
    transform: rotate(-45deg) scale(0);
}

.multiselect-item-checkbox input[type=checkbox]:checked+div:after {
    content: '';
    transform: rotate(-45deg) scale(1);
    transition: transform 200ms ease-out;
}

.multiselect-item-checkbox input[type=checkbox]:checked+div:before {
    animation: borderscale 200ms ease-in;
    background: #7d3c8b !important;
}

.multiselect-item-checkbox input[type=checkbox]:checked+div:after {
    transform: rotate(-45deg) scale(1);
}

@keyframes borderscale {
    50% {
        box-shadow: 0 0 0 2px #7d3c8b !important;
    }
}

#toast-container>.toast-info {
    background-color: #7d3c8b !important;
    background-image: none !important;
    color: white !important;
}