<div class="header">
    <div class="headerLeft">
        <div class="img"></div>
    </div>
    <div class="headerRight">
        <a class="navItem white login" routerLink="/login" routerLinkActive="active"><i class=" tim-icons icon-laptop"></i> LOG IN </a>
        <a class="navItem text-primary upload" routerLink="/upload" routerLinkActive="active"><i class=" tim-icons icon-minimal-left"></i> Back to Playground </a>
    </div>
</div>
<div class="wrapper wrapper-full-page">
    <div class="full-page login-page ">
        <div class="content">
            <div class="container">
                <div class=" col-lg-4 col-md-6 ml-auto mr-auto">
                    <form class="form" novalidate [formGroup]="registerForm" (ngSubmit)="registration(registerForm)">
                        <div class=" card card-login">
                            <div class=" card-header">
                                <h1 class=" card-title">Register</h1>
                            </div>
                            <div class=" card-body">
                                <div class="input-group">
                                    <div class=" input-group-prepend">
                                        <div class=" input-group-text">
                                            <i class=" tim-icons icon-single-02"></i>
                                        </div>
                                    </div>
                                    <input type="text" placeholder="First Name" name="firstname" formControlName="firstname" class="form-control">
                                </div>
                                <div *ngIf="m.firstname.touched && m.firstname.invalid" class="input-group">
                                    <div *ngIf="m.firstname.errors?.required">Please enter firstname!</div>
                                    <div *ngIf="m.firstname.errors?.pattern">*Minimum 2 and maximum 20 characters, uppercase and lowercase letters allowed</div>
                                </div>
                                <div class="input-group">
                                    <div class=" input-group-prepend">
                                        <div class=" input-group-text">
                                            <i class=" tim-icons icon-single-02"></i>
                                        </div>
                                    </div>
                                    <input type="text" placeholder="Last Name" name="lastname" formControlName="lastname" class="form-control">
                                </div>
                                <div *ngIf="m.lastname.touched && m.lastname.invalid" class="input-group">
                                    <div *ngIf="m.lastname.errors?.required">Please enter lastname!</div>
                                    <div *ngIf="m.lastname.errors?.pattern">*Minimum 2 and maximum 20 characters, uppercase and lowercase letters allowed</div>
                                </div>
                                <div class="input-group">
                                    <div class=" input-group-prepend">
                                        <div class=" input-group-text">
                                            <i class=" tim-icons icon-email-85"></i>
                                        </div>
                                    </div>
                                    <input type="email" placeholder="Email" name="email" formControlName="email" class="form-control">
                                </div>
                                <div *ngIf="m.email.touched && m.email.invalid" class="input-group">
                                    <div *ngIf="m.email.errors?.required">Please enter email!</div>
                                    <div *ngIf="m.email.errors?.pattern">*Email is not valid</div>
                                </div>
                                <div class="input-group">
                                    <div class=" input-group-prepend">
                                        <div class=" input-group-text">
                                            <i class=" tim-icons icon-single-02"></i>
                                        </div>
                                    </div>
                                    <input type="text" placeholder="Username" name="username" formControlName="username" class="form-control">
                                </div>
                                <div *ngIf="m.username.touched && m.username.invalid" class="input-group">
                                    <div *ngIf="m.username.errors?.required">Please enter username!</div>
                                    <div *ngIf="m.username.errors?.pattern">*Bad format!</div>
                                </div>
                                <!-- format za korisnicko ime(dozvoljeno je): velika i mala slova, karakteri[(.),(_),(-)], karakteri[(.),(_),(-)] ne smeju 
                                biti na prvom ili poslednjem mestu i ne smeju se ponavljati uzastopno, broj dozvoljenih karaktera(5, 20) -->
                                <div class="input-group">
                                    <div class=" input-group-prepend">
                                        <div class=" input-group-text">
                                            <i class=" tim-icons icon-lock-circle"></i>
                                        </div>
                                    </div>
                                    <input type="password" placeholder="Password" name="password" formControlName="password" class="form-control">
                                </div>
                                <div *ngIf="m.password.touched && m.password.invalid" class="input-group">
                                    <div *ngIf="m.password.errors?.required">Please enter password!</div>
                                    <div *ngIf="m.password.errors?.pattern">*Minimum 8 and maximum 20 characters, at least one uppercase letter, one lowercase letter and one number</div>
                                </div>
                                <!-- format za sifru: obavezno je bar jedno veliko, bar jedno malo slovo i jedan broj, broj karaktera(8, 20) -->

                                <div class="input-group">
                                    <div class=" input-group-prepend">
                                        <div class=" input-group-text">
                                            <i class=" tim-icons icon-lock-circle"></i>
                                        </div>
                                    </div>
                                    <input type="password" placeholder="Confirm password" name="confirmPassword" formControlName="confirmPassword" class="form-control">
                                </div>
                                <div *ngIf="m.confirmPassword.touched && m.confirmPassword!=m.password" class="input-group">
                                    <div *ngIf="m.confirmPassword.errors?.required">Please re-enter your password for confirmation!</div>
                                    <div *ngIf="m.confirmPassword.errors?.pattern">*Password mismatched!</div>
                                </div>

                            </div>
                            <div class=" card-footer">
                                <button type="submit" [disabled]="!registerForm.valid" class="btn btn-primary btn-lg btn-block mr-1">Register</button>
                                <div class=" pull-left">
                                    <h6>
                                        <a class="text-primary" routerLink="/login" routerLinkActive="active"> Already have an account? </a>
                                    </h6>
                                </div>
                                <div class=" pull-right">
                                    <h6>
                                        <a class="text-primary" routerLink="" routerLinkActive="active"> Need Help? </a>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class=" footer">
    <div class=" container-fluid">
        <ul class=" nav">
            <li class=" nav-item">
                <a class=" nav-link" href="#"> About Us </a>
            </li>
        </ul>
        <div class=" copyright">
            &copy; 2022 made by Cortex.
        </div>
    </div>
</footer>