<div class="content">
    <div class="row">
        <div class="card welcome">
            <div class="card-header">
                <div class="header-content">
                    <h1>Welcome to</h1>
                    <img class="img-igrannonica" src="./assets/img/igrannonica.png">
                    <!--
                    <div class="cortex">
                        <h4>Made by </h4>
                        <img class="img-cortex" src="./assets/img/cortex.png">
                    </div>
                    -->
                </div>
            </div>
            <div class="card-body">
                <div class="body-content">
                    <button class="exp-btn" style="float:left;" (click)="newExperiment()">Start a new experiment</button>
                    <button class="exp-btn" style="float:right;"(click)="useExperiment()">Continue old experiment</button>
                </div>
            </div>
        </div>
        <img class="img-cortex-small" src="./assets/img/cortex.png">
        <!--
        <div class="col-lg-4">
            <div class="card summary">
                <div class="card-header">
                    <h3>
                        Choose a dataset
                    </h3>
                </div>
                <div class="card-body">
                    <ul>
                        <li>Upload new datasets</li>
                        <li>Manage your datasets</li>
                        <li>Make your datasets publicly available</li>
                        <li>Use public datasets</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card summary">
                <div class="card-header">
                    <h3>
                        View and process your data
                    </h3>
                </div>
                <div class="card-body">
                    <ul>
                        <li>Complete insight into statistics of your dataset</li>
                        <li>Plot each column on a boxplot</li>
                        <li>Corelation matrix</li>
                        <li>Input and output selection</li>
                        <li>Selection of encoding type per column</li>
                        <li>Data preprocessing</li>
                        <li>Data set preview in a table</li>
                        <li>Edit and delete rows in table</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card summary">
                <div class="card-header">
                    <h3>
                        Train and compare models
                    </h3>
                </div>
                <div class="card-body">
                    <ul>
                        <li>Configure hyperparameters</li>
                        <li>Configure layers and neurons</li>
                        <li>Track training progress in real time</li>
                        <li>Train multiple models</li>
                        <li>Manage trained models</li>
                        <li>View each epoch in table view</li>
                        <li>Plot each metric in line chart</li>
                        <li>Save your experiment</li>
                    </ul>
                </div>
            </div>
        </div>
        -->
    </div>
</div>