.row {
    margin-right: 0px;
    margin-left: 0px;
    //height: 100%;
}

.content {
    //background: #27293d;
    //background-clip: content-box;
}

.welcome {
    width: 1200px;
    margin: auto;
    margin-top: 12%;
    box-shadow: none;
    background: transparent;
}

h1 {
    width: 40%;
    height: auto;
    float: left;
    margin: 0px;
    padding: 1.5rem 0px 0px 0px;
    font-size: 2.5rem;
    margin-left: auto;
}

.img-welcome {
    width: 40%;
    float: left;
    padding: 0px;
    margin-top: 4%;
}

.img-igrannonica {
    width: 60%;
    margin: 0px;
    float: left;
    padding: 0px;
    margin-right: auto;
}

.header-content {
    height: auto;
    width: 100%;
    padding: 0px;
    margin: auto;
}

.cortex {
    width: 160px;
    height: 70px;
    margin: auto;
    h4 {
        float: left;
        padding: 1rem 0.5rem 0rem 0rem;
    }
    .img-cortex {
        float: left;
        width: 70px;
    }
}

.body-content {
    margin: auto;
    width: 652px;
}

.summary {
    min-height: 290px;
}

.img-cortex-small {
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 120px;
    right: 50px;
}

.exp-btn {
    background: transparent;
    border: 3px solid #7d3c8b;
    border-radius: 5px;
    padding: 1rem 2rem 1rem 2rem;
    margin: 0px;
    width: 280px;
    margin-bottom: 1rem;
    color: #c6c6c9;
    font-weight: bold;
}

.exp-btn:hover {
    border-color: white;
    color: white;
}

@media(max-width: 769px) {
    .img-cortex-small {
        right: 35px;
    }
}

@media(max-width: 725px) {
    .header-content {
        width: 100%;
        height: auto;
        text-align: center;
    }
    .img-igrannonica {
        width: 100%;
        float: none;
    }
    .img-welcome {
        width: 100%;
        float: none;
    }
    h1 {
        width: auto;
        float: none;
        padding: 0px;
    }
    .body-content {
        width: 100%;
    }
}

@media(max-width: 645px) {
    .body-content {
        button {
            width: 48.5%;
        }
    }
}

@media(max-width: 577px) {
    .img-cortex-small {
        right: auto;
        margin: auto;
    }
}

@media(max-width: 575px) {
    .body-content {
        button {
            width: 100%;
        }
    }
}