<div class="jumbotron py-3">
    <h1 class="display-4 text-center">Payment Detail Register</h1>
</div>
<div class="row">
    <div class="col-md-5">
        <app-profile-form></app-profile-form>
    </div>
    <div class="col-md-7">
        <div>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>Card Owner</th>
                        <th>Card Number</th>
                        <th>Exp.</th>
                        <th></th>
                    </tr>
                </thead>
                <tr *ngFor="let pd of service.list">
                    <td (click)="populateForm(pd)">{{pd.FirstName}}</td>
                    <td (click)="populateForm(pd)">{{pd.LastName}}</td>
                    <td (click)="populateForm(pd)">{{pd.EMail}}</td>
                    <td>
                        <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.ProfileID)"></i>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
