.login {
    margin-top: 10px;
    background: transparent;
    border: 3px solid #7d3c8b;
    border-radius: 5px;
    padding: 0.5rem 2rem 0.5rem 2rem;
    color: #c6c6c9;
    font-weight: bold;
}

.login:hover {
    border-color: white;
    color: white;
}

.bg-darkslategrey {
    background-color: #181824;
}

.img {
    width: 180px;
    height: 34px;
    margin-top: 10px;
    margin-left: 10px;
    background-image: url("src/assets/img/logo.png");
}